<h2>Akseptering av foredrag</h2>

<table>
  <tr>
    <th>Foredragsholder</th>
    <th>Foredragstittel</th>
    <th>Status</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% for talk in @talks %>
<tr>
    <td>
      <%= talk.speaker_name %>
    </td>
    <td>
      <%= link_to h(talk.title), talk %>
    </td>
    <td>
        <%= talk.acceptance_status %>
    </td>
    <td>
        <%= link_to_if talk.acceptance_status == 'pending', 'Aksepter', :action => 'accept', :id => talk.id %>
    </td>
    <td>
        <%= link_to_if talk.acceptance_status == 'pending', 'Refuser', :action => 'refuse', :id => talk.id %>
    </td>
  </tr>
<% end %>
</table>