<h1>Pages</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Last edit</th>
  </tr>

<% for content in @contents %>
  <tr>
    <td><%=h content.id %></td>
    <td><%=h content.title %></td>
    <td><%=time_ago_in_words(content.last_edited_at) %> ago by <%= content.author.name %></td>
    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content', new_content_path %>
