<% content_for :title, "Endre ditt passord" %>
<h2 class="page_title">Endre ditt passord?</h2>

<p>
  Hei, <%= @user.email %>. Angi ditt nye passord.
</p>

<%= form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= render 'shared/error_messages', :target => @user %>
  <p>
    <%= f.label :password, "Angi ditt nye passord:" %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Og igjen:" %>
    <%= f.password_field :password_confirmation %>
  </p>
	<p>
		<%= f.submit "Oppdater passordet" %>
	</p>		  
<% end %>

