<h1>Editing message_delivery</h1>

<% form_for(@message_delivery) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message_id %><br />
    <%= f.text_field :message_id %>
  </p>
  <p>
    <%= f.label :registration_id %><br />
    <%= f.text_field :registration_id %>
  </p>
  <p>
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @message_delivery %> |
<%= link_to 'Back', message_deliveries_path %>
