<h1>Listing message_deliveries</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Registration</th>
    <th>Sent at</th>
  </tr>

<% for message_delivery in @message_deliveries %>
  <tr>
    <td><%=h message_delivery.message_id %></td>
    <td><%=h message_delivery.registration_id %></td>
    <td><%=h message_delivery.sent_at %></td>
    <td><%= link_to 'Show', message_delivery %></td>
    <td><%= link_to 'Edit', edit_message_delivery_path(message_delivery) %></td>
    <td><%= link_to 'Destroy', message_delivery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message_delivery', new_message_delivery_path %>
