<div id="<%= dom_id(comment) %>" class="comment">
<h3><%= comment.title %></h3>
<h4>Posted by <%= h(comment.user.name) %>, <%= time_ago_in_words comment.created_at %> ago</h4>

<div><%=simple_format comment.description %></div>
</div>