<% form_for :comment, :url => talk_comments_path(@talk) do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.label :description %> <br /><%= f.text_area :description, :rows => 5 %></p>
  <p><%= f.submit "Create" %></p>	
<% end %>
