<%= form_for :comment, :url => talk_comments_path(@talk, :anchor => 'new_comment') do |f| %>
  	<%= render "shared/error_messages", :target => @comment %>
	<div class="group">
	  	<%= f.label :title, "Overskrift:" %>
	  	<%= f.text_field :title %>
	</div>
	<div class="group">
  		<%= f.label :description, "Kommentar:" %>
  		<%= f.text_area :description, :rows => 5 %>
	</div>
	<%= f.submit "Registrer kommentar", :class => "button" %>
<% end %>
