<p>
  <b>Talk:</b>
  <%=h @comment.talk_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @comment.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @comment.description %>
</p>

<p>
  <b>Is displayed:</b>
  <%=h @comment.is_displayed %>
</p>

<p>
  <b>Is a review:</b>
  <%=h @comment.is_a_review %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
