<%= form_for @invoice do |f| %>

  <fieldset class="invoice_details">

    <% if @invoice.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :company_name %><br />
      <%= f.text_field :company_name %>
    </div>
    <div class="field">
      <%= f.label :contact_email %><br />
      <%= f.text_field :contact_email %>
    </div>
    <div class="field">
      <%= f.label :contact_person %><br />
      <%= f.text_field :contact_person %>
    </div>
    <div class="field">
      <%= f.label :street_address %><br />
      <%= f.text_field :street_address %>
    </div>
    <div class="field">
      <%= f.label :post_code %><br />
      <%= f.text_field :post_code %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

    <ul>
      <% @invoice.users.each do |user| %>
        <li>
          <div><%= user.name %></div>
          <input type="checkbox" name="deleted_users[]" value="<%= user.id %>"/>
        </li>
      <% end %>
    </ul>

  </fieldset>
<% end %>
