<%= form_for @invoice do |f| %>

  <fieldset class="invoice_details">
    <% if @invoice.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend>Fakturaadresse</legend>
      <div class="field">
        <%= f.label :company_name, "Firma" %><br />
        <%= f.text_field :company_name %>
      </div>
      <div class="field">
        <%= f.label :street_address, "Adresse" %><br />
        <%= f.text_field :street_address %>
      </div>
      <div class="field">
        <%= f.label :post_code, "Postnr" %><br />
        <%= f.text_field :post_code %>
      </div>
    </fieldset>
    <% if @invoice.new_record? %>
      <%= f.fields_for "contact_user_attributes", @invoice.contact_user do |contact| %>
        <fieldset>
          <legend>Kontaktperson</legend>
          <div class="field">
            <%= contact.label :name %><br />
            <%= contact.text_field :name %>
         </div>
         <div class="field">
            <%= contact.label :email %><br />
            <%= contact.text_field :email %>
         </div>
         <div class="field">
           <%= contact.label :phone_number %><br />
           <%= contact.text_field :phone_number %>
         </div>
         <div class="field">
           <%= contact.label :password %><br />
           <%= contact.password_field :password %>
         </div>
         <div class="field">
           <%= contact.label :password_confirmation, "Bekreft passord" %><br />
           <%= contact.password_field :password_confirmation %>
         </div>
       </fieldset>
      <% end %>
    <% else %>
        <div class="field">
	  <label>Kontaktperson:</label><br/>
          <%= link_to @invoice.contact_user.name, @invoice.contact_user %>
        </div>
    <% end %>

    <table id="users">
      <tr>
        <th>Navn</th>
        <th>Mail</th>
        <th>Telefonnummer</th>
      </tr>
      <%= render :partial => "registration", :collection => @invoice.registrations %>
    </table>

	<p><%= link_to_function "Ny bruker",
		"$('#users').append('#{escape_javascript(render(:partial => "registration", :object => Registration.new(:user => User.new)))}')"
	 %></p>


    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>
<% end %>
