<tr>
  <%= fields_for_user(user) do |user_form| %>
    <td><%= user_form.text_field :name %></td>
    <td><%= user_form.text_field :email %></td>
    <td><%= user_form.text_field :phone_number %></td>
    <td>
	    <% if user.errors.any? %>
	      <div id="error_explanation">
	        <ul>
	        <% user.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	    <% end %>
    </td>
    <td>
    	<%= link_to_function "slett", "$(this).closest('tr').remove()" %>
    </td>
  <% end %>
</tr>
