<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @invoice.company_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @invoice.contact_user.email %>
</p>

<p>
  <b>Contact person:</b>
  <%= @invoice.contact_user.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @invoice.street_address %>
</p>

<p>
  <b>Post code:</b>
  <%= @invoice.post_code %>
</p>

<h3>Brukere</h3>

<ul>
  <% for registration in @invoice.registrations %>
  	<li><%= link_to registration.user.name, registration.user %></li>
 <% end %>
</ul>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
