<% if topic %>
  <div class="description"><%= h(topic.description) %></div>
  <div class="talks_submitted">
    <% for talk in topic.talks.reverse.first(4) %>
      <li class="detail" id="<%= dom_id(talk) %>"><%= link_to talk.title, talk %> by
          <%=link_to_if admin?, h(talk.speaker_name), talk.users.first %></li>
    <% end %>
  </div>
  <li class="detail"><%= antall_flere_lyntaler(topic.talks.size-4, topic) %></li>
  <li class="detail" style="padding-top: 0.5em"><%# link_to "Foreslå et foredrag", new_topic_talk_path(topic) %></li>
  <hr/>
<% end %>
