<% 
@kommentarer = "<h3>Siste kommentarer</h3>" +
  @last_comments.collect do |c|
    %(
      <p class="last_comment">#{ link_to c.description.first(30) + "...", c.talk, :anchor => dom_id(c) }
        by #{c.user.name}
      </p>
      )
    end.join
%>
<%= floating_text_box @kommentarer %>

<% content_for :title, "Hva skjer på konferansen?" %>
<h2>Hva skjer på konferansen?</h2>


<%= feed_link "Følg med på nye forslag", talks_path(:format => :rss) %>

<p>
   <strong>Siste frist for å levere inn forslag til lyntaler er torsdag 1. oktober!</strong>
</p>

<p>
  For å sikre en god miks med foredrag som interesserer alle,
  har vi i år innført at alle lyntaler skal relatere seg til
  en forhåndsdefinert kategori. Vær med å diskutere kategoriene
  på <a href="http://forum.smidig.no">forumet</a>.
</p>

<p>
  For å oppfordre til diskusjon, ønsker vi at forslagene
  til foredrag skal være synlige så snart de blir
  registrert. Både arrangørene og andres kommentarer til
  hvert enkelt foredrag blir også synlige.
</p>

<p>
  Endelig program vil være klart to uker før konferansen. Vi forventer at programmet
  kommer til å være på følgende struktur:
</p>

<ul>
  <li>9:00 begge dager: Konferansen starter. Fire lyntaler i timen i tre parallelle spor frem til 12:00</li>
  <li>12:00 begge dager lunsj</li>
  <li>13:00 begge dager: Open space starter</li>
  <li>17:00 torsdag 22. oktober: Konferansemiddag</li>
  <li>17:00 fredag 23. oktober: Konferansen er ferdig</li>
</ul>


<div style="clear:both"/>
<h3>Temaer</h3>

<table id="topics">
	<thead>
<% for index in 0..@topics.size/3 %>

<tr>
  <th width="33%">
    <%= link_to h(@topics[index*3+0].title), @topics[index*3+0] if @topics[index*3+0] %></th>
  <th width="34%">
    <%= link_to h(@topics[index*3+1].title), @topics[index*3+1] if @topics[index*3+1] %></th>
  <th width="33%">
    <%= link_to h(@topics[index*3+2].title), @topics[index*3+2] if @topics[index*3+2] %></th>
</tr>
</thead>

<tfoot>
	</tfoot>
<tr style="vertical-align: top">
  <td>
    <%= render :partial => @topics[index*3+0] %>
  </td>
  <td>
    <%= render :partial => @topics[index*3+1] %>
  </td>
  <td>
    <%= render :partial => @topics[index*3+2] %>
  </td>
</tr>

<% end %>
</table>

<% if admin? %><h3><%= link_to "Legg til tema", new_topic_path %></h3><% end %>
