<% 
@kommentarer = "<h3>Siste kommentarer</h3>"
Comment.all.last(5).each do |c|
  @kommentarer += %(
    <p class="last_comment">
      <a href="/talks/#{c.talk_id}">
        #{c.description.first(30)}...
      </a> 
      by #{c.user.name}
    </p>
    )
end
%>
<%= floating_text_box @kommentarer %>

<% content_for :title, "Hva skjer på konferansen?" %>
<h2>Hva skjer på konferansen?</h2>


<%= feed_link "Følg med på nye forslag", talks_path(:format => :rss) %>

<p>
  For å sikre en god miks med foredrag som interesserer alle,
  har vi i år innført at alle lyntaler skal relatere seg til
  en forhåndsdefinert kategori. Vær med å diskutere kategoriene
  på <a href="http://forum.smidig.no">forumet</a>.
</p>

<p>
  For å oppfordre til diskusjon, ønsker vi at forslagene
  til foredrag skal være synlige så snart de blir
  registrert. Både arrangørene og andres kommentarer til
  hvert enkelt foredrag blir også synlige.
</p>

<p>
  Endelig program vil være klart to uker før konferansen.
</p>

<div style="clear:both"/>
<h3>Temaer</h3>

<table id="topics">
	<thead>
<% for index in 0..@topics.size/3 %>

<tr>
  <th width="33%">
    <%= link_to h(@topics[index*3+0].title), @topics[index*3+0] if @topics[index*3+0] %></th>
  <th width="34%">
    <%= link_to h(@topics[index*3+1].title), @topics[index*3+1] if @topics[index*3+1] %></th>
  <th width="33%">
    <%= link_to h(@topics[index*3+2].title), @topics[index*3+2] if @topics[index*3+2] %></th>
</tr>
</thead>

<tfoot>
	</tfoot>
<tr style="vertical-align: top">
  <td>
    <%= render :partial => @topics[index*3+0] %>
  </td>
  <td>
    <%= render :partial => @topics[index*3+1] %>
  </td>
  <td>
    <%= render :partial => @topics[index*3+2] %>
  </td>
</tr>

<% end %>
</table>

<% if admin? %><h3><%= link_to "Legg til tema", new_topic_path %></h3><% end %>
