<% content_for :title, h(@topic.title) %>

<p><%= link_to "Alle temaer", topics_path %> &gt;</p>
<h2><%=h @topic.title %></h2>
<p><%= feed_link "Følg med på nye foredrag", topic_talks_path(@topic, :format => :rss) %></p>
<p><% if admin? %><%= link_to "Endre beskrivelse", edit_topic_path(@topic) %><% end %></p>

<div>
  <%=simple_format @topic.description %>
</div>

<h3 id="talks">Foreslåtte lyntaler</h3>

<%= render :partial => @topic.talks %>

<h3><%#= link_to "Foreslå en lyntale", new_topic_talk_path(@topic) %></h3>

