<% content_for :title, h(@topic.title) %>
<div id="breadcrumbs"><%= link_to "Alle temaer", talks_path %> &gt;</div>
<h2 class="page_title"><%=h @topic.title %></h2>

<p><% if admin? %><%= link_to "Endre beskrivelse", edit_topic_path(@topic) %><% end %></p>

<div><%=simple_format h(@topic.description) %></div>

<h2 id="talks">Foreslåtte foredrag<%= feed_link "Følg med på nye foredrag i denne kategotien", topic_talks_path(@topic, :format => :rss) %></h2>

<%= render :partial => @topic.talks %>

<p>Savner du noe du ikke ser her? <%= link_to 'Foreslå lyntale selv!', new_talk_path %></p>
