<%= feed_link "Talks in #{@topic.title}", formatted_topic_talks_path(@topic, :rss) %> 


<h2><%=h @topic.title %></h2>

<div>
  <%=textile @topic.description %>
</div>

<h2>Suggested talks</h2>

<%= render :partial => @topic.talks %>

<h3><%= link_to "Submit your talk", new_topic_talk_path(@topic) %></h3>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
