<%= feed_link "Lyntaler i #{@topic.title}", topic_talks_path(@topic, :format => :rss) %> 


<h2><%=h @topic.title %></h2>

<div>
  <%=simple_format @topic.description %>
</div>

<h2>Foreslåtte lyntaler</h2>

<%= render :partial => @topic.talks %>

<h3><%= link_to "Foreslå en lyntale", new_topic_talk_path(@topic) %></h3>

