<h1>Editing period</h1>

<% form_for(@period) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time_id %><br />
    <%= f.text_field :time_id %>
  </p>
  <p>
    <%= f.label :scene_id %><br />
    <%= f.text_field :scene_id %>
  </p>
  <p>
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </p>
  <p>
    <%= f.label :topic_offset %><br />
    <%= f.text_field :topic_offset %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @period %> |
<%= link_to 'Back', periods_path %>
