<%= content_for :title, "Program" %>

<h2 style="display:inline-block;">Smidig 2011 program</h2>
<%= feed_link "All proposed talks", talks_path(:rss) %>


<%= form_tag make_program_periods_path if @edit %>


<table border="0" class="program">
  <tr>
    <th>Tidspunkt</th>
    <th>Scene A</th>
    <th>Scene B</th>
    <th>Scene C</th>
  </tr>
  <% for time_id in @time_ids %>
    <tr>
      <td>
        <% #= @periods_by_time_and_scene[time_id][0].day %>
        <%= @periods_by_time_and_scene[time_id][0].time_of_day %>
      </td>
      <% for scene in [0,1,2] %>
        <td><%= render :partial => @periods_by_time_and_scene[time_id][scene] if @periods_by_time_and_scene[time_id][scene]  %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= submit_tag "Oppdater programmet" if @edit %>

