<table class="schedule" summary="This table shows the schedule for the first day of the Smidig 2011 conference on November 14th.">
  <caption>Mandag 14. november</caption>
  <colgroup class="times"> 
    <col /> 
  </colgroup> 
  <colgroup class="locations" span="3"> 
    <col class="salOlympia" /> 
    <col class="salKunst" /> 
    <col class="salFilm" /> 
  </colgroup>
  <thead> 
    <tr>
      <th class="time">Tid</th> 
      <th colspan="2" class="event"> 
        <div class="event">Hva skjer?</div> 
        <span class="location right">Sted</span> 
      </th> 
    </tr> 
  </thead>
  <tfoot> 
    <tr>
      <th class="time">Tid</th> 
      <th class="event" colspan="2">Hva skjer?</th> 
      <th class="location right">Sted</th> 
    </tr> 
  </tfoot>
  <tbody>
    <tr>
      <td class="time">08:00&nbsp;&#8209;&nbsp;09:00</td> 
      <td colspan="2" class="slot foaje"> 
        <div class="event">Registrering og kaffe</div> 
        <span class="location right">Foajé</span> 
      </td> 
    </tr>
    <tr>
      <td class="time">09:00&nbsp;&#8209;&nbsp;09:15</td>
      <td colspan="2" class="slot foaje"> 
        <div class="event">Åpningstale</div> 
        <span class="location right">Olympia</span> 
      </td> 
    </tr>
    <!-- Keynote -->
    <tr>
      <td class="time">09:15&nbsp;&#8209;&nbsp;10:00</td>
      <td colspan="2" class="slot foaje">
        <div class="event">Keynote: Bjarte Bogsnes</div>
        <span class="location right">Olympia</span>
      </td>
    </tr>
    <!-- Lightning talks -->
    <tr><td class="time">10:00&nbsp;‑&nbsp;12:00</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[0]) %>
    <!-- Lightning talks -->
    <tr>
      <td class="time">12:00&nbsp;&#8209;&nbsp;13:15</td> 
      <td colspan="2" class="slot restaurant"> 
        <div class="event">Lunsj</div><span class="location right">Restauranten</span> 
      </td> 
    </tr> 
    <tr><td class="time">13:00&nbsp;‑&nbsp;14:30</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[1]) %>
    <tr><td class="time">15:00&nbsp;‑&nbsp;16:30</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[2]) %>
    <tr>
      <td class="time">16:00</td> 
      <td colspan="2" class="slot restaurant"> 
        <div class="event">Baren åpner</div>
      </td> 
    </tr> 
    <tr>
      <td class="time">17:30</td> 
      <td colspan="2" class="slot restaurant"> 
        <div class="event">Middag</div><span class="location right">Restauranten</span>
      </td> 
    </tr> 
  </tbody> 
</table>

<table class="schedule" summary="This table shows the schedule for the second day of the Smidig 2011 conference on November 15th.">
  <caption>Tirsdag 15. november</caption> 
  <colgroup class="times"> 
    <col /> 
  </colgroup> 
  <colgroup class="locations" span="3"> 
    <col class="salOlympia" /> 
    <col class="salKunst" /> 
    <col class="salFilm" /> 
  </colgroup>
  <thead> 
    <tr>
      <th class="time">Tid</th> 
      <th colspan="2" class="event"> 
        <div class="event">Hva skjer?</div> 
        <span class="location right">Sted</span> 
      </th> 
    </tr> 
  </thead>
  <tfoot> 
    <tr>
      <th class="time">Tid</th> 
      <th class="event" colspan="2">Hva skjer?</th> 
      <th class="location right">Sted</th> 
    </tr> 
  </tfoot>
  <tbody>
    <tr>
      <td class="time">08:00&nbsp;&#8209;&nbsp;09:15</td> 
      <td colspan="2" class="slot foaje"> 
        <div class="event">Kaffe</div> 
        <span class="location right">Foajé</span> 
      </td> 
    </tr>
    <tr><td class="time">09:00&nbsp;‑&nbsp;10:30</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[3]) %>

    <!--%= timeslot_with_location_tr("10:15&nbsp;&#8209;&nbsp;11:00", @periods_by_time_and_scene[4]) %-->
    <tr><td class="time">11:00&nbsp;‑&nbsp;12:00</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[4]) %>
    <tr>
      <td class="time">12:00&nbsp;&#8209;&nbsp;13:15</td> 
      <td colspan="2" class="slot restaurant"> 
        <div class="event">Lunsj</div>
        <span class="location right">Restauranten</span> 
      </td> 
    </tr> 
    <!--%= timeslot_with_location_tr("11:15&nbsp;&#8209;&nbsp;12:00", @periods_by_time_and_scene[5]) %-->
    <tr><td class="time">13:15&nbsp;‑&nbsp;14:45</td> 
        <td class="slot salOlympia">
            <div class="event"></div>
            <span class="location">Workshop 1</span>
        </td>
        <td class="slot salFilm">
            <div class="event"></div>
            <span class="location">Workshop 2</span>
        </td>
    </tr>
    <%= timeslot_workshops_tr(@w[5]) %>
    <tr>
      <td class="time">15:30&nbsp;&#8209;&nbsp;16:15</td> 
      <td colspan="2" class="slot salOlympia"> 
        <div class="event">Keynote: Jurgen Appelo</div><span class="location right">Olympia</span> 
      </td> 
    </tr> 
  </tbody> 
</table>

