<%= content_for :title, "Program" %>
<%= content_for :additional_css, stylesheet_link_tag('program', :media => "all") %>
<%= content_for :additional_css, stylesheet_link_tag('program-print', :media => "print") %>
<%= stylesheet_link_tag "program" %>
<%= javascript_include_tag  "jquery.ba-hashchange.min" %>
<script type="text/javascript">
var selected = <%= "'#{@selected}'" %>;
$(document).ready(function() {
  if (selected === 'ws' || window.location.hash === '#ws') {
    selectTab('ws');
  }
  var selectTab = function(tab) {
    if(tab === 'ws' || tab==='#ws') {
      $('a.button.selected').removeClass('selected');
      $('#ws_program_button').addClass('selected');
      $('#ws_program').show();
      $('#talk_program').hide();
    } else {
      $('a.button.selected').removeClass('selected');
      $('#talk_program_button').addClass('selected');
      $('#talk_program').show();
      $('#ws_program').hide();
      }
    }
  $(window).hashchange(function() {
    selectTab(window.location.hash);
  });
});
</script>

<% if admin? %>

  <div class="admin">
    <h3>Admin</h3>
    <%= link_to "Endre programmet", :controller => 'periods', :action => 'index', :edit => true %>
  </div>

<% end %>
  
<div id="overskrift">
  <p>Under konferansen kan du følge med på oppdateringer <a href="http://twitter.com/smidig">på Twitter!</a></p> 
</div>

<div>
<a class="button selected" id="talk_program_button" href="#talk">Foredrag</a>
<a class="button" id="ws_program_button" href="#ws">Workshops</a>
</div>

<div class="program" id="ws_program" style="display:none;">
  <%= render :partial => 'workshops' %>
</div>
<div class="program" id="talk_program">
  <%= render :partial => 'talks' %>
</div>
