<%= content_for :title, "Smidig 2012 - program" %>
<% if admin? %>
<div class="admin">
  <%= link_to "Endre programmet", :controller => 'periods', :action => 'index', :edit => true %>
</div>
<% end %>

<header>
  <h1>Program for <a href="http://smidig2012.no">Smidig</a></h1>
  <p>Under konferansen kan du følge med på oppdateringer på <a href="http://twitter.com/smidig">@smidig</a></p> 
</header>

<div class="program">

  <div class="location-explanation row">
    <div class="twelvecol">
      <p class="location">
        <span class="sal_a">Foaje</span>
        <span class="sal_0">Sal 0</span>
        <span class="sal_1">Sal 1</span>
        <span class="sal_2">Sal 2</span>
      </p>
      <div class="time"></div>
    </div>
  </div>

  <h2>Mandag, 5. november</h2>

  <div class="row">
    <section class="period one sal_a">
      <header>
        <span class="location">Olympia</span>
        <time class="time">8:00 - 9:00</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">8:00 - 9:00 </span>
          <h3>Registrering og kaffe</h3>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="period one sal_a">
      <header>
        <span class="location">Olympia</span>
        <time class="time">9:00 - 9:15</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">9:00 - 9:15 </span>
          <h3>Åpningstale</h3>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="period one sal_a">
      <header>
        <span class="location">Olympia</span>
        <time class="time">9:15 - 10:00</time>
      </header>
      <div class="slot">
        <%= render_talk(@keynotes[0]) %>
      </div>
    </section>
  </div>

<%= timeslot_talks_row(@periods_by_time_and_scene[0]) %>

<%= timeslot_talks_row(@periods_by_time_and_scene[1]) %>

  <div class="row">
    <section class="period one sal_a">
      <header>
        <span class="location">Foaje</span>
        <time class="time">12:00 - 13:15</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">12:00 - 13:15</span>
          <h3>Lunsj</h3>
        </div>
      </div>
    </section>
  </div>

<%= timeslot_talks_row(@periods_by_time_and_scene[2]) %>

<h2>Tirsdag, 6. november</h2>

<%= timeslot_talks_row(@periods_by_time_and_scene[3]) %>

<%= timeslot_talks_row(@periods_by_time_and_scene[4]) %>

  <div class="row">
    <section class="period one sal_a">
      <header>
        <span class="location">Foaje</span>
        <time class="time">12:00 - 13:15</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">12:00 - 13:15 </span>
          <h3>Lunsj</h3>
        </div>
      </div>
    </section>
  </div>

<%= timeslot_talks_row(@periods_by_time_and_scene[5]) %>

</div>