<%= content_for :title, "Program" %>
<%= content_for :additional_css, stylesheet_link_tag('program', :media => "all") %>
<%= content_for :additional_css, stylesheet_link_tag('program-print', :media => "print") %>
<%= stylesheet_link_tag "program" %>
<script type="text/javascript">
$(document).ready(function() {
  $('#talk_program_button').click(function() {
    $('#talk_program').show().addClass("selected");
    $('#ws_program').hide().removeClass("selected");
  });
  $('#ws_program_button').click(function() {
    $('#ws_program').show().addClass("selected");
    $('#talk_program').hide().removeClass("selected");
  });
});
</script>
<style>
a.button {
 background: none;
 pointer: pointer;
}
a.button.selected {
 background: silver;
}
</style>

<% if admin? %>

  <div class="admin">
    <h3>Admin</h3>
    <%= link_to "Endre programmet", :controller => 'periods', :action => 'index', :edit => true %>
  </div>

<% end %>
  
<div id="overskrift">
  <h2>Program for <%= link_to "Smidig 2011", :controller => 'info' %></h2>

  <p>Under konferansen kan du følge med på oppdateringer <a href="http://twitter.com/smidig">på Twitter!</a></p> 

</div>

<div>
<a class="button" id="talk_program_button">Foredrag</a> - <a class="button" id="ws_program_button">Workshops</a>
</div>

<div id="ws_program" style="display:none;">
  <%= render :partial => 'workshops' %>
</div>
<div id="talk_program">
  <%= render :partial => 'talks' %>
</div>
