<%= content_for :title, "Smidig 2012 - program" %>
<% if admin? %>
<div class="admin">
  <%= link_to "Endre programmet", :controller => 'periods', :action => 'index', :edit => true %>
</div>
<% end %>

<header>
  <h1>Program for <a href="http://smidig2012.no">Smidig 2012</a></h1>
  <p>Under konferansen kan du følge med på oppdateringer <a href="http://twitter.com/smidig">på Twitter!</a></p> 
</header>

<div class="program">
  <div class="row">
  <section class="period one">
    <header>
      <time class="time">8:00-9:00</time>
      <span class="location">Sal A</span>
    </header>
    <div class="slot">
      <h2>Registrering og kaffe</h2>
    </div>
  </section>
  </div>
  <div class="row">
  <section class="period one sal_a">
    <header>
      <time class="time">9:00-9:15</time>
      <span class="location">Sal A</span>
    </header>
    <div class="slot">
      <h2>Åpningstale</h2>
    </div>
  </section>
</div>
<div class="row">
  <section class="period one sal_a">
    <header>
      <time class="time">9:15-10:00</time>
      <span class="location">Sal A</span>
    </header>
    <div class="slot">
      <h2>Keynote dag 1</h2>
    </div>
  </section>
</div>

<%= timeslot_talks_row(@periods_by_time_and_scene[0]) %>

<%= timeslot_talks_row(@periods_by_time_and_scene[1]) %>

<%= timeslot_talks_row(@periods_by_time_and_scene[2]) %>

</div>