<%= content_for :title, "Smidig 2012 - Workshops" %>

<div class="program">

  <div class="location-explanation row">
    <div class="twelvecol">
      <p class="location">
        <span class="sal_a">Foaje</span>
        <span class="sal_0">Madonna</span>
        <span class="sal_1">Vampyr</span>
        <span class="sal_2">Kunst</span>
      </p>
      <div class="time"></div>
    </div>
  </div>

  <h2>Mandag, 5. november</h2>

  <div class="row">
    <h3 class="time">mandag, 8:00 - 10:00</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Foajé</span>
        <time class="time">8:00 - 10:00</time>
      </header>
      <div class="slot">
        <div class="talk">
          <h3>Se vanlig program</h3>
          <div class="description"><p><%= link_to "Til programmet", :controller => "program" %></p></div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">mandag, 10:15 - 12:00</h3>
    <section class="period fourcol sal_0">
      <header>
        <span class="location">Madonna</span>
        <time class="time">10:15 - 12:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[0][0]) %>
      </div>
    </section>
    <section class="period fourcol last sal_1">
      <header>
        <span class="location">Vampyr</span>
        <time class="time">10:15 - 12:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[1][0]) %>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">mandag, 12:00 - 13:15</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Resturant</span>
        <time class="time">12:00 - 13:15</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">12:00 - 13:15</span>
          <h3>Lunsj</h3>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">mandag, 13:15 - 14:00</h3>
    <section class="period fourcol sal_0">
      <header>
        <span class="location">Madonna</span>
        <time class="time">13:15 - 14:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[0][1]) %>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">mandag, 14:15 - 17:00</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Foajé</span>
        <time class="time">14:15 - 17:00</time>
      </header>
      <div class="slot">
        <div class="talk">
          <h3>Se vanlig program</h3>
          <div class="description"><p><%= link_to "Til programmet", :controller => "program" %></p></div>
        </div>
      </div>
    </section>
  </div>

<br /><br /><br />
<h2>Tirsdag, 6. november</h2>

  <div class="row">
    <h3 class="time">tirsdag, 8:30 - 10:00</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Foajé</span>
        <time class="time">8:30 - 10:00</time>
      </header>
      <div class="slot">
        <div class="talk">
          <h3>Se vanlig program</h3>
          <div class="description"><p><%= link_to "Til programmet", :controller => "program" %></p></div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">tirsdag, 10:15 - 12:00</h3>
    <section class="period fourcol sal_0">
      <header>
        <span class="location">Madonna</span>
        <time class="time">10:15 - 12:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[0][2]) %>
      </div>
    </section>
    <section class="period fourcol sal_1">
      <header>
        <span class="location">Vampyr</span>
        <time class="time">10:15 - 12:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[1][1]) %>
      </div>
    </section>
    <section class="period fourcol last sal_2">
      <header>
        <span class="location">Kunst</span>
        <time class="time">10:15 - 12:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[2][0]) %>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">tirsdag, 12:00 - 13:15</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Resturant</span>
        <time class="time">12:00 - 13:15</time>
      </header>
      <div class="slot">
        <div class="talk">
          <span class="author">12:00 - 13:15 </span>
          <h3>Lunsj</h3>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <h3 class="time">tirsdag, 13:15 - 14:00</h3>
    <section class="period fourcol sal_0">
      <header>
        <span class="location">Madonna</span>
        <time class="time">13:15 - 14:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[0][3]) %>
      </div>
    </section>
    <section class="period fourcol sal_1">
      <header>
        <span class="location">Vampyr</span>
        <time class="time">13:15 - 14:00</time>
      </header>
      <div class="slot">
        <%= render_ws(@workshops[1][2]) %>
      </div>
    </section>
  </div>

    <div class="row">
    <h3 class="time">tirsdag, 14:15 - 17:00</h3>
    <section class="period one sal_a">
      <header>
        <span class="location">Foajé</span>
        <time class="time">14:15 - 17:30</time>
      </header>
      <div class="slot">
        <div class="talk">
          <h3>Se vanlig program</h3>
          <div class="description"><p><%= link_to "Til programmet", :controller => "program" %></p></div>
        </div>
      </div>
    </section>
  </div>

</div>