<%= stylesheet_link_tag "tag-it/master.css" %>
<%= stylesheet_link_tag "tag-it/jquery-ui/jquery.ui.autocomplete.custom.css" %>
<%= javascript_include_tag "jquery-ui/jquery-ui-1.8.core-and-interactions.min.js", :charset => "utf-8" %>
<%= javascript_include_tag "jquery-ui/jquery-ui-1.8.autocomplete.min.js", :charset => "utf-8" %>
<%= javascript_include_tag "tag-it.js", :charset => "utf-8" %>
<script>
$(document).ready(function(){
	var availableTags = [];
	var selectedTags = [];
	<% @tags.each do |tag| %>
		availableTags.push("<%=h tag.title %>");
		<% if @talk.tags.include? tag%>
			selectedTags.push("<%=h tag.title %>");
		<%end%>
	<% end %>
	$("#mytags").tagit({availableTags: availableTags, selectedTags: selectedTags});
	});
</script>


<%= form_for @talk do |f| %>

  <h3>Hva vil du snakke om?</h3>

<fieldset class="talk_details">

  <%= render "shared/error_messages", :target => @talk %>
  
  <div class="field type">
    <%= f.label :talk_type_id, "Type foredrag" %>
    <%= f.collection_select :talk_type_id, @types, :id, :name_and_duration %>
  </div>

  <div class="field paastand">
    <%= f.label :title, "Påstand" %>
    <%= help_tooltip() do %>
        <p>Dette er tittelen på foredraget ditt. Vår erfaring fra tidligere Smidig-konferanser er at gode lyntaler tar utgangspunkt i en påstand (for eksempel: "gode lyntaler tar utgangspunkt i en påstand") og bruker foredraget på å diskutere bakgrunnen og konsekvensen av denne påstanden.</p>
    <% end %>
    <%= f.text_field :title %>
    </div>

  <div class="field argumentasjon">
    <%= f.label :description, "Argumentasjon" %>
    <%= help_tooltip() do %>
        <p>Vår erfaring fra tidligere Smidig-konferanser er at gode lyntaler tar utgangspunkt i en påstand (for eksempel: "gode lyntaler tar utgangspunkt i en påstand") og bruker foredraget på å diskutere bakgrunnen og konsekvensen av denne påstanden. Dette kalles ofte også for abstract.</p>
    <% end %>
    <%= f.text_area :description, :rows => 10 %>
  </div>
</fieldset>

<fieldset class="confirmations">
  <% if @talk.new_record? %>
    <div class="field format">
      <%= f.check_box :accepted_guidelines %>
      <%= f.label :accepted_guidelines, "Jeg kjenner til tidsbegrensningen og formatet for lyntaler på Smidig 2011" %>
    </div>
    <div class="field cc">
      <%= f.check_box :accepted_cc_license %>
      <%= f.label :accepted_cc_license, "Jeg forstår at foredraget blir gjort tilgjengelig med en <a href='http://creativecommons.org/licenses/by/3.0/no/' rel='external'>Creative Commons Navngivelse 3.0 Norge</a> lisens og at teksten blir gjort tilgjengelig umiddelbart.".html_safe %>
    </div>
  <% end %>
</fieldset>

<div class="tag">
	<div class="line">
		<label>Her kan du tagge din tale. Allerede eksisterende tags vil bli foreslått mens du skriver, mens nye vil bli lagt til så snart du lagrer endringene. </label>
		<ul id="mytags"></ul>
	</div>
</div>

<br><br>




<div class="field buttons">
    <%= f.submit "Publiser forslaget" %>
</div>



<% end %>
