<% form_for @talk do |f| %>

  <h3>Hva vil du snakke om?</h3>

<fieldset id="talk_details">

  <%= f.error_messages %>

  <div class="field paastand">
    <%= f.label :title, "Påstand" %>
    <% help_tooltip() do %>
        <p>Dette er tittelen på foredraget ditt. Vår erfaring fra Smidig 2007-2009 er at gode lyntaler tar utgangspunkt i en påstand (for eksempel: "gode lyntaler tar utgangspunkt i en påstand") og bruker foredraget på å diskutere bakgrunnen og konsekvensen av denne påstanden.</p>
    <% end %>
    <%= f.text_field :title %>
    </div>

  <div class="field argumentasjon">
    <%= f.label :description, "Argumentasjon" %>
    <% help_tooltip() do %>
        <p>Vår erfaring fra Smidig 2007-2009 er at gode lyntaler tar utgangspunkt i en påstand (for eksempel: "gode lyntaler tar utgangspunkt i en påstand") og bruker foredraget på å diskutere bakgrunnen og konsekvensen av denne påstanden. Dette kalles ofte også for abstract.</p>
    <% end %>
    <%= f.text_area :description, :rows => 10 %>
  </div>

  <div class="field publikum">
    <%= f.label :audience_level, "Passer best for publikum som..." %>
    <%= f.select :audience_level,  [['... ikke har benyttet smidige metoder', 'novice'], ['... ikke bruker smidige metoder på sitt prosjekt', 'intermediate'], ['... benytter smidige metoder på sitt prosjekt', 'expert']] %>
  </div>
</fieldset>

<fieldset class="confirmations">
  <% if @talk.new_record? %>
    <div class="field format">
      <%= f.check_box :accepted_guidelines %>
      <%= f.label :accepted_guidelines, "Jeg kjenner til tidsbegrensningen og formatet for lyntaler på Smidig 2010" %>
    </div>
    <div class="field cc">
      <%= f.check_box :accepted_cc_license %>
      <%= f.label :accepted_cc_license, "Jeg forstår at foredraget blir gjort tilgjengelig med en <a href='http://creativecommons.org/licenses/by/3.0/no/' rel='external'>Creative Commons Navngivelse 3.0 Norge</a> lisens og at teksten blir gjort tilgjengelig umiddelbart." %>
    </div>
  <% end %>
</fieldset>



<div class="field buttons">
    <%= f.submit "Publiser forslaget" %>
</div>



<% end %>
