<div class="talk" id="<%= dom_id(talk) %>">
  <h4><%= link_to h(talk.title), talk %> <%= "(#{antall_stemmer(talk.votes_count)})" if talk.votes_count > 0 %><%= image_tag("icon_slides.gif") if admin? && talk.slide.file?%></h4>

  <div class="submitted_time">
    <%=link_to "#{talk.comments_count or 0} kommentar(er).", talk_path(talk, :anchor => "comments") %>
    Foreslått av <%= render :partial => talk.users %> for <%= time_ago_in_words(talk.created_at) %> siden.

  </div>

</div>
