<%= form_for(@talk, :html => { :multipart => true }) do |form| %>
	Kun én presentasjonsfil pr foredrag
	<%= help_tooltip() do %>
		<p>Laster du opp ny, vil den erstatte den gamle.</p>
	<% end %>
	<div class="group">
		<%= form.label :slide, "Presentasjons fil"%>
		<%= form.file_field :slide, :class => "file-input" %>
	</div>
	<%= form.submit 'Last opp', :class => "button" %>
<% end %>
