<h1>Editing talk</h1>

<% form_for(@talk) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :slideshare_url %><br />
    <%= f.text_field :slideshare_url %>
  </p>
  <p>
    <%= f.label :presenting_naked, "Not using slides" %><br />
    <%= f.check_box :presenting_naked %>
  </p>
  <p>
    <%= f.label :audience_level %><br />
    <%= f.text_field :audience_level %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @talk %> |
<%= link_to 'Back', talks_path %>
