<% content_for :title, "Foreslåtte foredrag" %>
<h2 class="page_title">Har du noe på hjertet?</h2>
<%= link_to 'Foreslå en lyntale, tordentale eller en workshop!', new_talk_path %>
<p>Smidig-konferansen er en konferanse for og av fagmiljøet selv.  Det er din kunnskap og dine erfaringer som gjør konferansen til det den er.  Siste frist for å levere inn forslag er 1. november.</p>

<p>Alle bidrag skal relatere seg til en forhåndsdefinert kategori for å sikre en god miks med foredrag som interesserer alle. Vær med å diskutere kategoriene på mailinglisten <%= link_to "smidigkonferansen", mailingliste_url %>.
  Du kan også hente inspirasjon fra diskusjoner på forumet om kategoriene: <a href="http://forum.smidig.no/forums/11">smidigforumet </a>
  </p>

<p>For å oppfordre til diskusjon, blir forslagene til foredrag synlige så snart de blir registrert. Både arrangørene og andres kommentarer til hvert enkelt foredrag blir også synlige.</p>

<p><a href="../info/til_lyntalere">Informasjon om hva slags opplegg vi har rundt lyntaler, tordentaler og workshops på Smidig 2011, samt noen generelle tips.</a></p>

<h2>Foreslåtte bidrag<%= feed_link "Følg med på alle nye foredrag", talks_path(:format => :rss) %></h2>

<div class="filters">
  <select id="show_types">
    <option value="alle">Alle</option>
    <option value="lyntale">Lyntale</option>
    <option value="tordentale">Tordentale</option>
    <option value="workshop">Workshop</option>
  </select>
  <label><input type="checkbox" id="show_accepted" /> Vis bare godkjente</label>
</div>
<ul class="talks">
<%= render :partial => @talks %>
</ul>

<p>Savner du noe? <%= link_to "Foreslå det selv!", new_talk_path %></p>
<script>
  $("#show_accepted").removeAttr("checked");
  $("#show_types").val("alle");
  filter_change = function() {
    var show_accepted = $("#show_accepted").attr("checked");
    var selection = $("#show_types").val();
    $("ul.talks > li").each(function() {
      var accepted = $(this).hasClass("accepted");
      var shown_type = $(this).hasClass(selection);
      if (!shown_type || (show_accepted && !accepted)) {
        $(this).hide();
      } else {
        $(this).show();
      }
    });
  }
  $("#show_accepted").change(filter_change);
  $("#show_types").change(filter_change);
</script>
