<%= content_for :title, "Foreslå lyntale" %>

<p><em>TODO: Skriv innledning (i templatet)</em></p>


<% form_for @talk do |f| %>
  <%= f.error_messages %>
  
  <% if @talk.speaker.new_record? %>
    <h3>Registrer deg som bruker</h3>
    
    <% f.fields_for :speaker do |user_form| %>
      <p>
        <%= user_form.label :name, "Navn"%><br />
        <%= user_form.text_field :name %>
      </p>
      <p>                                                   
        <%= user_form.label :company, "Firma"%><br />
        <%= user_form.text_field :company %>
      </p>
      <p>
        <%= user_form.label :email, "E-post"%><br />
        <%= user_form.text_field :email %>
      </p>
      <p>
        <%= user_form.label :phone_number, "Telefon"%><br />
        <%= user_form.text_field :phone_number %>
      </p>
      <p>
        <%= user_form.label :password, "Passord"%><br />
        <%= user_form.password_field :password %>
      </p>
      <p>
        <%= user_form.label :password_confirmation, "Bekreft passord"%><br />
        <%= user_form.password_field :password_confirmation %>
      </p>
    <% end %>
  <% end %>
  
  <h3>Beskriv din lyntale</h3>

  <p>
    <%= f.label :topic_id, "Tema" %><br />
    <% if @talk.topic %>
      <%= @talk.topic.title %>
      <%= f.hidden_field :topic_id, :value => @talk.topic.id %>
    <% else %>
      <%= f.collection_select :topic_id, Topic.find(:all), :id, :title %>
    <% end %>
  </p>

  <p>
    <%= f.label :title, "Påstand" %> <%= image_tag "help.png" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Argumentasjon" %> <%= image_tag "help.png" %><br />
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= f.label :audience_level, "Publikummet..." %><br />
    <%= f.select :audience_level,  [['... har hørt om smidig', 'novice'], ['... har benyttet smidig', 'intermediate'], ['... er smidige', 'expert']] %>
  </p>
  <hr />
  <p>Velg en Creative Commons License <%= image_tag "help.png" %>
  <p>Tillater du kommersiell bruk av ditt bidrag?</p>
  <p>
      <%= f.radio_button :allow_commercial_use, true, :checked => true %>
      <%= f.label :allow_commercial_use_true, "Ja" %><br />
      <%= f.radio_button :allow_commercial_use, false %>
      <%= f.label :allow_commercial_use_false, "Nei" %><br />
  </p>
  <p>Tillater du modifikasjoner av ditt bidrag?</p>
  <p>
      <%= f.radio_button :allow_derivatives, '' %>
      <%= f.label :allow_derivatives_true, "Ja" %><br />
      <%= f.radio_button :allow_derivatives, 'sa' %>
      <%= f.label :allow_derivatives_sa, "Share alike" %><br />
      <%= f.radio_button :allow_derivatives, 'nd' %>
      <%= f.label :allow_derivatives_false, "Nei" %><br />
  </p>
  <hr />
  <p>
    <%= f.check_box :accepted_guidelines %>
    <%= f.label :accepted_guidelines, "Jeg kjenner til tidsbegrensningen og formatet for lyntaler på Smidig 2009 (#{link_to 'Om lyntaler', :controller => 'pages', :action => 'lyntaler'})" %>
  </p>
  <p>
    <%= f.submit "Publiser forslag" %>
  </p>
<% end %>
