<% content_for :title, "#{@talk.title}" %>

<% if @layout != "program" %>
<p class="notification">
  <%= link_to "Tilbake til liste over foredrag", talks_path %>
</p>
<% end %>

<h2>
  <%= @talk.title %>
  <div class="sub_info">
    <% if @talk.accepted?  %>
        <%= image_tag("icon_ok.png", :alt => "Talen er godkjennt", :title => "Talen er godkjennt", :class => "icon") %>
    <% end  %>
  </div>
</h2>

<% if @talk.users.include?(current_user)|| admin? %>
  <div class="talk-admin section">
    <ul class="related-links">
      <li>
        <%= link_to "Se stemmer", :controller => "feedback_votes", :action => "show" %>
      </li>
      <li>
        <%= link_to 'Rediger forslaget ditt', edit_talk_path(@talk) %>
      </li>
      <% if !@talk.slide_file_name.nil? %>
        <li>
          <%= link_to "Last ned presentasjon".html_safe, @talk.slide.url %>
        </li>
      <% end %>
    </ul>
    <%= render :partial => "talks/upload_slide" %>
  </div>
<% end %>

<ul class="talk-details section">
  <li>
    <b><%= @talk.talk_type.name_and_duration %></b>
  </li>
  <li>
      <b>Tags:</b>
      <% @talk.tags.each do |tag| %>
          <%= link_to tag.title, :controller=>"talks", :action=>"article_tags", :id=>tag.id %>
      <% end %>
  </li>
  <li>
    <b>Foreslått av: </b>
    <%= @talk.speaker_name %>
  </li>
</ul>

<div class="talk-description section ">
  <h3>Beskrivelse</h3>
  <%=simple_format h(@talk.description) %>
</div>

<div class="talk-files section">
  <h3>
    Filer
  </h3>
  <p>
    Foredraget deles under en <%= link_to "Creative Commons Navngivelse-lisens.",
   "http://creativecommons.org/licenses/#{@talk.license}/3.0/no/", :rel => 'license' %>
  </p>
  <ul class="related-links">
    <li>
      <%= render :partial => "talks/slides" %>
    </li>
    <li>
      <%= render :partial => "talks/video" %>
    </li>
  </ul>
</div>

<% if  @talk.workshop? %>
  <div class="workshop-details section">
    <h3>Påmelding</h3>

    <% if !@talk.complete? %>
      <p>
        Bare <%= @talk.free_places %> plasser igjen!
        <%= link_to "Logg inn for å melde deg på.", new_user_session_url(:save => true)  unless logged_in %>
      </p>
    <% elsif !logged_in %>
      <p>Ingen plasser igjen.</p>
    <% end %>

  <% if logged_in %>
    <%= workshop_participation_link(@talk, current_user) %>

    <% if @talk.users.include?(current_user)|| admin? %>
        <p><%= conditional_link_to_participant_list(@talk) %></p>
    <% end %>
  <% end %>
  </div>
<% end %>


<% if @layout != "program" %>
<div class="comments section">
  <h3>
    Kommentarer
    <div class="sub_info">
      <%= link_to "Følg med på kommentarer til #{@talk.title}", talk_comments_path(@talk, :format => :rss), :class => "rss" %>
    </div>
  </h3>

  <ul class="comments item-list">
    <%= render :partial => @talk.comments %>
  </ul>
</div>

<div class="new-comment section">
  <% if logged_in %>
    <h3 id="new_comment">Skriv en ny kommentar:</h3>
    <%= render :partial => "comments/new" %>
  <% else %>
    <h3>
      <%= link_to "Logg inn for å skrive en ny kommentar", new_user_session_url(:save => true) %>
    </h3>
  <% end %>
</div>
<% end %>