<% content_for :title, h(@talk.title) %>

<p><%= link_to "Alle foredrag", topics_path %> &gt; <%= link_to "#{@talk.topic.title}", @talk.topic  %> &gt; </p>

<h2><%=h @talk.title %> 
  <% unfinished do %>(<%= antall_stemmer(@talk.votes_count) %>)<% end %></h2>

<h3><%= render :partial => @talk.users %></h3>

<% if @talk.users.include?(current_user)|| admin? %>
  <p><%= link_to 'Rediger forslaget ditt', edit_talk_path(@talk) %></p>

  <% if @talk.slide.file? %>
    <h3>Lysbilder til presentasjon</h3>
    <p><%= link_to 'Last ned', @talk.slide.url %>
  <% else %>
    <h3>Last opp presentasjon</h3>
  <% end %>
  <p><%= render :partial => "talks/upload_slide" %></p>
<% else %>
  <% unfinished do %><%= render :partial => "talks/votes" %><% end %>
<% end %>

<div class="description">
  <%=simple_format @talk.description %>  
</div>

<p>
  <strong>Passer for:</strong>
  <%=h @talk.describe_audience_level %>
</p>

<% if @talk.slide.file? %>
  <p>
    <h3><%= link_to 'Last ned lysbilder til presentasjon', @talk.slide.url %></h3>  
  </p>
<% end %>

<%= link_to image_tag("http://i.creativecommons.org/l/#{@talk.license}/3.0/no/88x31.png", :border => 0),
   "http://creativecommons.org/licenses/#{@talk.license}/3.0/no/", :rel => 'license' %>


<%= render :partial => "talks/video" %>
<%= render :partial => "talks/slides" %>

<h3>Kommentarer</h3>

<%= feed_link "Følg med på kommentarer til #{@talk.title}", talk_comments_path(@talk, :format => :rss) %>

<div id="comments">
  <%= render :partial => @talk.comments %>
</div>

<% if logged_in %>
<h3 id="new_comment">Skriv en ny kommentar:</h3>
<%= render :partial => "comments/new" %>
<% else %>
<h3><%= link_to "Logg inn for å skrive en ny kommentar", new_user_session_url(:save => true) %></h3>
<% end %>


