<% content_for :title, "#{@talk.title}" %>
<h1>Tittel: <%= @talk.title %></h1>
<div id="breadcrumbs"><%= link_to "Tilbake til liste over foredrag", talks_path %></div>
<!--<div id="breadcrumbs"><%= link_to "Tilbake til programmet", program_index_path %></div>-->

<% if @talk.accepted?  %>
<p><%= image_tag("approved_talk.png") %> godkjent</p>
<% end  %>


<ul class="talk-details">
  <li><b><%= @talk.talk_type.name_and_duration %></b></li>
  <li>
      <b>Tags:</b>
      <% @talk.tags.each do |tag| %>
          <%= link_to tag.title, :controller=>"talks", :action=>"article_tags", :id=>tag.id %>
      <% end %>
  </li>
  <li><b>Foreslått av:</b><%= @talk.speaker_name %></li>

</ul>

  <% if @talk.users.include?(current_user)|| admin? %>
    <div class="talk-admin">
      <h3>Admin</h3>
      <p><%= link_to 'Rediger forslaget ditt', edit_talk_path(@talk) %></p>
      <% unless @talk.slide_file_name.nil? %>
        <p>
          <b>Lysbilder til presentasjon</b>
          <%= link_to "#{image_tag("icon_slides.gif")} Last ned".html_safe, @talk.slide.url %>
        </p>
      <% else %>
        <h3>Last opp presentasjon</h3>
      <% end %>
      <%= render :partial => "talks/upload_slide" %>
    </div>
  <% end %>


<div class="talk-description">
  <h3>Beskrivelse</h3>
  <%=simple_format h(@talk.description) %>
</div>

<%= link_to image_tag("#{@talk.license}.png", :title => 'Foredraget deles under en Creative Commons Navngivelse-lisens.'),
   "http://creativecommons.org/licenses/#{@talk.license}/3.0/no/", :rel => 'license' %>


<%= render :partial => "talks/video" %>
<%= render :partial => "talks/slides" %>

<% if  @talk.workshop? %>
  <div class="workshop-details">
    <h3>Påmelding</h3>

    <% if !@talk.complete? %>
      <p>
        Bare <%= @talk.free_places %> plasser igjen!
        <%= link_to "Logg inn for å melde deg på.", new_user_session_url(:save => true)  unless logged_in %>
      </p>
    <% elsif !logged_in %>
      <p>Ingen plasser igjen.</p>
    <% end %>

  <% if logged_in %>
    <%= workshop_participation_link(@talk, current_user) %>

    <% if @talk.users.include?(current_user)|| admin? %>
        <p><%= conditional_link_to_participant_list(@talk) %></p>
    <% end %>
  <% end %>
  </div>
<% end %>

<br /><br />
<h3>Kommentarer<%= feed_link "Følg med på kommentarer til #{@talk.title}", talk_comments_path(@talk, :format => :rss) %></h3><a name="comments"></a>

<div class="comments">
  <%= render :partial => @talk.comments %>
</div>

<% if logged_in %>
<h3 id="new_comment">Skriv en ny kommentar:</h3>
<%= render :partial => "comments/new" %>
<% else %>

<h3><%= link_to "Logg inn for å skrive en ny kommentar", new_user_session_url(:save => true) %></h3>
<% end %>


