<%= feed_link "Comments for #{@talk.title}", talk_comments_path(@talk, :format => :rss) %>

<h2><%=h @talk.title %> (<span class="topic"><%=h @talk.topic_name %></span>, <%= @talk.votes_count %> votes)</h2>

<h3><%= render :partial => @talk.speaker %></h3>

<%= render :partial => "votes" %>

<div class="description">
  <%=simple_format @talk.description %>  
</div>

<%= link_to image_tag("http://i.creativecommons.org/l/#{@talk.license}/3.0/no/88x31.png", :border => 0),
  :url => "http://creativecommons.org/licenses/#{@talk.license}/3.0/no/", :rel => 'license' %>


<%= render :partial => "video" %>
<%= render :partial => "slides" %>


<p>
  <strong>Audience level:</strong>
  <%=h @talk.audience_level %>
</p>

<h2>Comments</h2>

<%= render :partial => @talk.comments %>

<% if logged_in %>
<h3>Post a new comment:</h3>
<%= render :partial => "comments/new" %>
<% else %>
<h3><%= link_to "Log in to post a comment", new_user_session_url(:save => true) %></h3>
<% end %>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>

