<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div>
  <p>
    <%= f.label :name, "Navn"%><br />
    <%= f.text_field :name %>
  </p>
  <p>                                                   
    <%= f.label :company, "Firma"%><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :email, "E-post"%><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number, "Telefon"%><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :password, "Passord"%><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Bekreft passord"%><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% f.fields_for :registration do |reg| %>
    <%= reg.hidden_field :free_ticket %>
    <%= reg.hidden_field :manual_payment %>
    <% if @user.registration.free_ticket %>
      <p>
        <%= reg.label :ticket_type, "Type billett" %><br>
        <%= reg.select :ticket_type, [
            ['Jeg ønsker å benytte en sponsors gratisbillett (angi firma)', 'sponsor'],
            ['Jeg holder foredrag sammen med noen andre (angi foredrag)', 'speaker'],
            ['Jeg ønsker å bidra som frivillig under konferansen', 'volunteer'], 
            ['Jeg er med å arrangere konferansen', 'organizer']], :include_blank => true %>
      </p>
      <p>
        <%= reg.label :invoice_description, "Kommentarer til registreringen" %><br/>
        <%= reg.text_area :invoice_description, :rows => 4 %>
      </p>
      <p>
        <%= reg.check_box :includes_dinner, :checked => true %>
        <%= reg.label :includes_dinner,  "Jeg ønsker å delta på middagen" %>
      </p>
      <p>
        <p><%= f.submit "Registrer deg" %></p>        
      </p>
    <% else %>
      <%= reg.hidden_field :ticket_type, :value => 'full_price' %>
      <p>
        <%= reg.radio_button 'includes_dinner', false %>
        <%= reg.label 'includes_dinner_false', 
          "Jeg vil ha Early Bird til kroner 1950, men finanskrisen gjør at vi ikke har råd til middag" %><br />
        <%= reg.radio_button 'includes_dinner', true %>
        <%= reg.label 'includes_dinner_true', 
          "Jeg vil ha Early Bird, til kroner 1950 og gleder meg til middagen 22. oktober til kroner 500, totalt kroner 2450!" %>
      </p>
      <div class="detail">Prisene er inklusive mva</div>
      <% if @user.registration.manual_payment %>
        <p>
          <%= reg.label :invoice_address, "Fakturaadresse" %><br/>
          <%= reg.text_area :invoice_address, :rows => 4 %>
        </p>
        <p>
          <%= reg.label :invoice_description, "Kommentarer til fakturering" %><br/>
          <%= reg.text_area :invoice_description, :rows => 4 %>
        </p>
        <p><%= f.submit "Registrer deg" %></p>
      <% else %>
        <p><%= f.submit "Til betaling >>>" %></p>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
