<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div>
  <p>
    <%= f.label :name, "Navn"%><br />
    <%= f.text_field :name %>
  </p>
  <p>                                                   
    <%= f.label :company, "Firma"%><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :email, "E-post"%><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number, "Telefon"%><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :password, "Passord"%><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Bekreft passord"%><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= radio_button_tag 'ticket_type', 'uten_middag', false %>
    <%= label_tag 'ticket_type_uten_middag', 
      "Jeg vil ha Early Bird til kroner 1000, men finanskrisen gjør at vi ikke har råd til middag" %><br />
    <%= radio_button_tag 'ticket_type', 'med_middag', true %>
    <%= label_tag 'ticket_type_med_middag', 
      "Jeg vil ha Early Bird, til kroner 1000 og gleder meg til middagen til kroner 500, totalt kroner 1500!" %>
  </p>
  <p><%= f.submit "Til betaling >>>" %></p>
  </div>
<% end %>
