<% content_for :title, @user.name %>
<h2 class="page_title">Endre din registrering</h2>

      <%= @user.registration && @user.registration.description %>

<%= form_for @user do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <fieldset class="personal_details">
    <div class="group">
      <%= f.label :name, "Navn"%>
      <%= f.text_field :name %>
    </div>
    <div class="group">
      <%= f.label :company, "Firma"%>
      <%= f.text_field :company %>
    </div>
    <div class="group">
      <%= f.label :email, "E-post"%>
      <%= f.text_field :email %>
    </div>
    <div class="group">
      <%= f.label :phone_number, "Telefon"%>
      <%= f.text_field :phone_number %>
    </div>

    <%= f.fields_for :registration do |reg| %>
      <div class="checkbox-wrapper">
        <%= reg.check_box :includes_dinner %>
        <%= reg.label :includes_dinner,  "Jeg ønsker å delta på middagen" %>
      </div>
    <% end %>

    <%= f.submit "Oppdater detaljer", :class => "button" %>

  </fieldset>

  
<% end %>

