<% content_for :title, @user.name %>

<p>Oppdater din informasjon.</p>

<% form_for @user do |f| %>
  <%= f.error_messages %>

  <p>                                                   
    <%= f.label :name, "Navn" %><br />
    <%= f.text_field :name %>
  </p>
  <p>                                                   
    <%= f.label :company, "Firma" %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :email, "E-post" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number, "Telefon" %><br />
    <%= f.text_field :phone_number %>
  </p>
  <% if @user.registration %>
    <h4>Betalingsinformasjon:</h4>
    <% if @user.registration.free_ticket %>
      <% f.fields_for :registration do |reg| %>
        <p>
          <%= reg.check_box :includes_dinner %>
          <%= reg.label :includes_dinner,  "Jeg ønsker å delta på middagen" %>
        </p>
      <% end %>
    <% else %>
      <%= @user.registration.description %>
    <% end %>
  <% end %>

  
  <p><%= f.submit "Oppdater detaljer" %></p>
<% end %>

