<% content_for :title, @user.name %>
<h2 class="page_title">Endre din registrering</h2>

      <%= @user.registration && @user.registration.description %>

<% form_for @user do |f| %>
  <%= f.error_messages %>

    <fieldset id="personal_details">
      <div class="name field">
        <%= f.label :name, "Navn"%>
        <%= f.text_field :name %>
      </div>
      <div class="firma field">
        <%= f.label :company, "Firma"%>
        <%= f.text_field :company %>
      </div>
      <div class="epost field">
        <%= f.label :email, "E-post"%>
        <%= f.text_field :email %>
      </div>
      <div class="telefon field">
        <%= f.label :phone_number, "Telefon"%>
        <%= f.text_field :phone_number %>
      </div>

    </fieldset>

    <% f.fields_for :registration do |reg| %>
      <p>
        <%= reg.check_box :includes_dinner %>
        <%= reg.label :includes_dinner,  "Jeg ønsker å delta på middagen" %>
      </p>
   <% end %>

  <p><%= f.submit "Oppdater detaljer" %></p>
<% end %>

