<% form_for @user do |f| %>
  <%= f.error_messages %>

  <p>                                                   
    <%= f.label :name, "Navn" %><br />
    <%= f.text_field :name %>
  </p>
  <p>                                                   
    <%= f.label :company, "Firma" %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :email, "E-post" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number, "Telefon" %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p><%= f.submit "Oppdater detaljer" %></p>
<% end %>

