<h2>Brukere</h2>


<%=
  x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
  line_chart_xy = GoogleChart::LineChart.new('600x300', "Registrerte brukere", false) do |lc|
    lc.axis :y, :range => [0,@all_per_date.max]
    lc.axis :x, :labels => x_labels
    lc.data "Totalt", @all_per_date, '0000ff'
    lc.data "Foredragsholdere", @speakers_per_date, '00ff00'
    lc.data "Betalte deltagere", @paid_per_date, 'ff0000'
  end
  image_tag line_chart_xy.to_url
%>

<%=
  x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
  line_chart_xy = GoogleChart::LineChart.new('600x150', "Innbetalt deltageravgift", false) do |lc|
    lc.axis :y, :range => [0,@income_per_date.max]
    lc.axis :x, :labels => x_labels
    lc.data "Kroner", @income_per_date, '0000ff'
  end
  image_tag line_chart_xy.to_url
%>


<ul>
  <li><%= link_to "Alle", :filter => 'all' %></li>
  <li><%= link_to "Foredragsholdere", :filter => 'speakers' %></li>
  <li><%= link_to "Betalte", :filter => 'paid' %></li>
  <li><%= link_to "Betaling avbrudt", :filter => 'unpaid' %></li>
  <li><%= link_to "Foredragsholdere som har betalt", :filter => 'paying_speaker' %></li>
  <li><%= link_to "Administratorer", :filter => 'admin' %></li>
  <li><%= link_to "Frivillige", :filter => 'volunteer' %></li>
</ul>

<h3><%= @users.length %> brukere:</h3>

<table>
  <tr>
    <th>Bruker</th>
    <th>E-post</th>
    <th>Påmeldt</th>
    <th>Brukerstatus</th>
  </tr>
<% for user in @users %>
  <tr>
    <td>
      <%=link_to user.name, user %>
      (<%=h user.company %>)
    </td>
    <td>
      <%=link_to user.email, "mailto:#{user.email}" %>
    </td>
    <td><%=h time_ago_in_words(user.created_at) %> siden</td>
    <td>
      <%= user.user_status %>
    </td>
  </tr>
<% end %>
</table>

