<h1>Brukere</h1>

<table>
  <tr>
    <th>Bruker</th>
    <th>E-post</th>
    <th>Betalingsinformasjon</th>
    <th>Påmeldt</th>
  </tr>
<% for user in @users %>
  <tr>
    <td>
      <%=link_to user.name, user %>
      (<%=h user.company %>)
    </td>
    <td>
      <%=link_to user.email, "mailto:#{user.email}" %>
    </td>
    <td>
      <% if user.registration %>
        <%= link_to user.registration.description, user.registration.payment_link %>
        Price: <%= user.registration.price %>.
      <% end %>
    </td>
    <td><%=h time_ago_in_words(user.created_at) %> siden</td>
  </tr>
<% end %>
</table>

