<% content_for :title, @user.name %>
<h2 class="page_title">Brukerinformasjon</h2>

Vi har registrert følgende informasjon om deg:

<ul>
  <li><strong>Navn:</strong> <%=h @user.name %></li>
  <li><strong>Firma:</strong> <%=h @user.company %></li>
  <li><strong>E-post:</strong> <%=h @user.email %></li>
  <li><strong>Telefonnummer:</strong> <%=h @user.phone_number %></li>
  <% if @user.registration %>
    <li><strong>Billettype:</strong> <%=h @user.registration.description %></li>
    <li><strong>Deltar på konferansemiddag:</strong> <%= @user.registration.includes_dinner ? "Ja" : "Nei" %></li>
    <li><strong>Pris:</strong> <%= @user.registration.price %></li>
  <% end %>
  <% if admin? %>
    <li class="admin"><strong>Status:</strong> <%= @user.registration.status%></li>
  <% end %>
</ul>

<%= link_to "Endre din registrering", edit_user_path(@user) %>

<% unless @user.talks.blank? %>
  <h3>Foreslåtte foredrag</h3>

  <ul>
    <% for talk in @user.talks %>
      <li><%= link_to h(talk.title), talk %></li>
    <% end %>
  </ul>
<% end %>


<h3>Deltagerinformasjon</h3>

<%= render :partial => @user.registration %>
