<% if @user.registration && @user.registration.paid? %>

Vi har mottatt bekreftelse fra PayPal, og dermed registrert din betaling i systemet. Vi sees på Smidig 2009!

<% elsif @user.registration %>

<p>Hei <%=h @user.name %>, og takk for påmeldingen til Smidig 2009. Vi venter på bekreftelse fra PayPal, dette tar vanligvis ikke mer enn noen sekunder. Om du laster denne siden på nytt kan betalingen allerede ha blitt registrert.</p>

	<% if @user.registration != nil %>
<p>Dersom du ikke fikk gjennomført betalingen din første gang, kan du følge denne <%=link_to "linken til PayPay", @user.registration.payment_link %> for å prøve på nytt.</p>
	<% end %>
<% end %>


Vi har registrert følgende informasjon om deg:

<ul>
  <li><strong>Navn:</strong> <%= @user.name %></li>
  <li><strong>Firma:</strong> <%= @user.company %></li>
  <li><strong>E-post:</strong> <%= @user.email %></li>
  <li><strong>Telefonnummer:</strong> <%= @user.phone_number %></li>
</ul>

<%= link_to "Endre din registrering", edit_user_path(@user) %>



<% if @user.registration %>
  <h2>Betalingstatus</h2>
  <ul>
  	<li><%=h @user.registration.description %></li>
  	<li><strong>Pris:</strong> <%=h @user.registration.price %></li>
  	<li><strong>Betalt:</strong> <%=h @user.registration.paid? ? "ja" : "nei" %>
  	  <% unless @user.registration.paid? %>
  	  (<%= link_to "se status på PayPal", @user.registration.payment_link %>)
  	  <% end %>
  	</li>
    <% if @user.registration.payment_notification != nil %>
       	<li><strong>Transaksjonsid:</strong> <%=h @user.registration.payment_notification.transaction_id %> Status: <%=h @user.registration.payment_notification.status %> Betalt: <%=h @user.registration.payment_notification.currency %> <%=h @user.registration.payment_notification.paid_amount %></li>
    <% end %>
  </ul>
<% end %>
