<% content_for :title, @user.name %>

<h2 class="page_title">Brukerinformasjon</h2>
Du er logget inn, <%=link_to_unless_current "logg ut", logout_path %>.<br /><br />

Vi har registrert følgende informasjon om deg:

<ul>
  <li><strong>Navn:</strong> <%=h @user.name %></li>
  <li><strong>Firma:</strong> <%=h @user.company %></li>
  <li><strong>E-post:</strong> <%=h @user.email %></li>
  <li><strong>Telefonnummer:</strong> <%=h @user.phone_number %></li>
  <% if @user.registration %>
    <li><strong>Billettype:</strong> <%=h @user.registration.description %></li>
    <li><strong>Deltar på konferansemiddag:</strong> <%= @user.registration.includes_dinner ? "Ja" : "Nei" %></li>
    <li><strong>Pris:</strong> <%= @user.registration.price %> </li>
    <li><%= link_to "Kvittering", receipt_registration_path(@user.registration) %> </li>
    <% if admin? %>
      <li class="admin"><strong>Status:</strong> <%= @user.registration.status%></li>
    <% end %>
  <% else %>
    <li><strong>Billettype:</strong> <em>Deltar ikke på konferansen</em></li>
  <% end %>
</ul>

<% unless @user.workshops.empty? %>
  Du er påmeldt disse workshops:
  <ul>
  <% for workshop in @user.workshops %>
    <li><%= link_to h(workshop.title), workshop %></li>
  <% end %> 
  </ul>
<% end %> 

Handlinger:
<ul>
  <li><%= link_to "Endre din registrering", edit_user_path(@user) %> </li>
  <li><%= link_to "Reset passord", :controller => "password_resets", :action => "new", :email => @user.email %> </li>
</ul>

<% unless @user.talks.blank? %>
  <h3>Innsendte forslag</h3>

  <ul>
    <% for talk in @user.talks %>
      <li><%= link_to h(talk.title), talk %></li>
    <% end %>
  </ul>
<% end %>

<!--
<p><%= link_to "Send inn bidrag", new_talk_path %></p>
-->

<%= render :partial => @user.registration if @user.registration %>
