<% if registration.free_ticket %>
  
  <% if not registration.registration_complete %>
    <p>
      Du vil få beskjed når registreringen din blir godkjent minimum to uker før konferanse.
      Dersom du ikke blir godkjent, vil du få tilbud om å kjøpe billett til det som var
      aktuell pris når du registrerte deg.
    </p>
  <% end %>

<% elsif registration.registration_complete %>

Vi har registrert din betaling. Vi sees på Smidig 2009!

<% elsif registration.manual_payment %>

  <p>
    Vi sender faktura til følgende adresse. Denne siden vil oppdateres når vi registrerer betalingen.
  </p>
  
  <h4>Fakturaadresse</h4>    
  <%=simple_format registration.invoice_address %>
  
  <h4>Beskrivelse</h4>    
  <%=simple_format registration.invoice_description %>

  <%= link_to "Endre fakturainformasjon", edit_registration_path(registration) %>

<% else %>

  <p>
  	Vi har enda ikke mottatt bekreftelse fra PayPal.
  	Dette tar vanligvis ikke mer enn noen sekunder og om du laster denne
  	siden på nytt kan betalingen allerede ha blitt registrert.
	</p>

  <p>
  	Dersom du ikke fikk gjennomført betalingen din første gang, kan du følge denne 
  	<%=link_to "linken til PayPal", registration.payment_url(payment_notifications_url, user_url(@user)) %>
  	for å prøve på nytt.
	</p>
	
	<% if registration.created_at < 15.minutes.ago %>
    <p>
      Har du problemer med å få betaling med PayPal til å fungere? Vi kan sende
      deg en manuell faktura. Registrer din fakturainformasjon her:
      <%= link_to "Endre fakturainformasjon", edit_registration_path(registration) %>
    </p>
  <% end %>
    
	<% if registration.created_at < 3.hours.ago %>
  	Dersom du har betalt og denne meldingen fortsatt er her etter en time, kan du ta det med ro.
  	Du får fortsatt være med på konferansen, men vi må nok rette noen tekniske problemer.
    Send oss <a href="mailto:kontakt@smidig2009.no">en email</a>
	</p>
	<% end %>


<% end %>

	
<% if admin? %>
  <h3 style="color:red">Admin: Registrer betaling</h3>
  
  <p>
  	<%= link_to "Oppdater registering manuelt", edit_registration_path(@user.registration) %>
  </p>
<% end %>
