<% if registration.free_ticket %>
  
  <% if not registration.registration_complete %>
    <p>
      Du vil få beskjed når registreringen din blir godkjent minimum to uker før konferanse.
      Dersom du ikke blir godkjent, vil du få tilbud om å kjøpe billett til det som var
      aktuell pris når du registrerte deg.
    </p>
  <% end %>

<% elsif registration.registration_complete %>

Vi har registrert din betaling. Vi sees på Smidig 2009!

<% elsif registration.manual_payment %>

  <p>
    Vi sender faktura til følgende adresse. Denne siden vil oppdateres når vi registrerer betalingen.
  </p>
  
  <h4>Fakturaadresse</h4>    
  <%=simple_format registration.invoice_address %>
  
  <h4>Beskrivelse</h4>    
  <%=simple_format registration.invoice_description %>

  <%= link_to "Endre fakturainformasjon", edit_registration_path(registration) %>

<% else %>

  <p>
    Vi har ikke registrert deg som betalt enda. Dette kan skyldes
    flere ting:
	</p>
	
	<ul>
	  <li>
	    Det er mulig du ikke har <%=link_to "utført betalingen",
	      registration.payment_url(payment_notifications_url, user_url(@user)) %>.
	  </li>
	  <li>
	    Det er mulig noe skjedde feil under betalingen.
	    <%=link_to "Sjekk betalingsstatus",
	      registration.payment_url(payment_notifications_url, user_url(@user)) %>.
	  </li>	    
  	<% if registration.created_at > 15.minutes.ago %>
  	  <li>
  	    Det kan ta litt tid før vi registrerer betalingen.
      </li>
    <% end %>
    <li>Kan du ikke benytte PayPal? Vi kan sende en manuell faktura.
      <%= link_to "Endre fakturainformasjon", edit_registration_path(registration) %>
    </li>
	  <% if registration.created_at < 3.hours.ago %>
  	  <li>
  	    Fortsatt problemer? Du kan ta det med ro, du får fortsatt være med på konferansen.
  	    Send oss <a href="mailto:kontakt@smidig2009.no">en email</a> så ordner vi.
  	  </li>
	  <% end %>
	</ul>

<% end %>

	
<% if admin? %>
  <h3 style="color:red">Admin: Registrer betaling</h3>
  
  <p>
  	<%= link_to "Oppdater registering manuelt", edit_registration_path(@user.registration) %>
  </p>
<% end %>
