<h2>Brukere</h2>


<%=
  if @registrations.present?
    x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
    colors = %w(00ff00 0000ff ff0000 00ffff ffff00 ff00ff)
    line_chart_xy = GoogleChart::LineChart.new('600x300', "Registrerte brukere", false) do |lc|
      lc.axis :y, :range => [0,@all_per_date.max]
      lc.axis :x, :labels => x_labels
      lc.grid :y_step => 100.0/(@all_per_date.max / 50.0)
      lc.data "Totalt", @all_per_date, colors.pop
      for ticket_type in @registrations_per_ticket_type_per_date.keys
        lc.data ticket_type, @registrations_per_ticket_type_per_date[ticket_type], colors.pop
      end
    end
    image_tag line_chart_xy.to_url
  end
%>

<%=
  if @registrations.present?
    x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
    line_chart_xy = GoogleChart::LineChart.new('600x300', "Innbetalt deltageravgift", false) do |lc|
      lc.axis :y, :range => [0,@income_per_date.max]
      lc.axis :x, :labels => x_labels
      lc.grid :y_step => 100.0/(@income_per_date.max / 50000.0)
      lc.data "Kroner", @income_per_date, '0000ff'
    end
    image_tag line_chart_xy.to_url if @registrations.present?
  end
%>

<h3>Manuelle registreringer</h3>

<p><%= link_to "Manuelle registreringer", invoiced_registrations_path %></p>


<h3>Andre søk</h3>

<ul>
  <li><%= link_to "Alle", :conditions => '' %></li>
  <% for ticket_type in @ticket_types %>
    <li><%= link_to ticket_type, :conditions => { :ticket_type => ticket_type }  %></li>
  <% end %>
  <li><%= link_to "Completed", :conditions => { :registration_complete => 1 }  %></li>
  <li><%= link_to "Not completed", :conditions => { :registration_complete => 0 }  %></li>
  <li><%= link_to "Dinner registrations", :conditions => { :includes_dinner => 1 }  %></li>
</ul>

<%= render :partial => 'registration_list', :locals => { 
          :registrations => @registrations,
          :description => "brukere" } %>
