<h2>Listing registrations</h2>

<table>
  <tr>
    <th>Invoice ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Early Bird</th>
    <th>Dinner</th>
    <th>Invoiced at</th>
    <th>PayPal-status</th>
  </tr>

<% for registration in @registrations %>
  <tr>
	<td><%=h registration.id %></td>
	<% if !registration.user.nil? %>
    	<td><%=h registration.user.name %></td>
	<% else %>
		<td>N/A</td>
	<% end %>	
    <td><%=h registration.description %></td>
    <td><%=h registration.price %></td>
    <td><%=h registration.is_earlybird %></td>
    <td><%=h registration.includes_dinner %></td>
	<% if !registration.payment_notification.nil? %>
    	<td><%=h registration.payment_notification.paid_amount %>,-</td>
    	<td><%=h registration.payment_notification.status %>,-</td>
	<% else %>
		<td>0,-</td>
		<td>N/A</td>
	<% end %>
    <td><%=h registration.comments %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registration', new_registration_path %>
