<h1>Listing registrations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Comments</th>
    <th>Price</th>
    <th>Invoiced at</th>
    <th>Paid at</th>
  </tr>

<% for registration in @registrations %>
  <tr>
    <td><%=h registration.user_id %></td>
    <td><%=h registration.comments %></td>
    <td><%=h registration.price %></td>
    <td><%=h registration.invoiced_at %></td>
    <td><%=h registration.paid_at %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registration', new_registration_path %>
