<h2>Brukere</h2>


<%=
  x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
  colors = %w(00ff00 0000ff ff0000 00ffff ffff00 ff00ff)
  line_chart_xy = GoogleChart::LineChart.new('600x300', "Registrerte brukere", false) do |lc|
    lc.axis :y, :range => [0,@all_per_date.max]
    lc.axis :x, :labels => x_labels
    lc.data "Totalt", @all_per_date, colors.pop
    for ticket_type in @registrations_per_ticket_type_per_date.keys
      lc.data ticket_type, @registrations_per_ticket_type_per_date[ticket_type], colors.pop
    end
  end
  image_tag line_chart_xy.to_url
%>

<%=
  x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
  line_chart_xy = GoogleChart::LineChart.new('600x150', "Innbetalt deltageravgift", false) do |lc|
    lc.axis :y, :range => [0,@income_per_date.max]
    lc.axis :x, :labels => x_labels
    lc.data "Kroner", @income_per_date, '0000ff'
  end
  image_tag line_chart_xy.to_url
%>

<h3>Krever oppfølging</h3>

<ul>
  <li><%= link_to "Skal betale, har ikke blitt fulgt opp", :filter => 'skal_foelges_opp' %>. Disse må kontaktes for å høre om de vil forsøke å betale på nytt, motta faktura, eller ikke delta</li>
  <li><%= link_to "Skal faktureres", :filter => 'skal_faktureres' %>. Disse må legges i <%= link_to "faktureringsregnearket", "http://spreadsheets.google.com/ccc?key=0AgagkSyIhK7gdFl4WU1QbjFMd01XcHJocC1sMWJOeFE&hl=en"%>. Vær årvåken mot dobbeltfakturering!</li>
  <li><%= link_to "Har blitt fakturerert", :conditions => { :manual_payment => 1, :invoiced => 1 } %>. Disse har blitt lagt inn i <%= link_to "faktureringsregnearket", "http://spreadsheets.google.com/ccc?key=0AgagkSyIhK7gdFl4WU1QbjFMd01XcHJocC1sMWJOeFE&hl=en"%>.</li>
</ul>


<h3>Andre søk</h3>

<ul>
  <li><%= link_to "Alle", :conditions => '' %></li>
  <% for ticket_type in @ticket_types %>
    <li><%= link_to ticket_type, :conditions => { :ticket_type => ticket_type }  %></li>
  <% end %>
  <li><%= link_to "Completed", :conditions => { :registration_complete => 1 }  %></li>
  <li><%= link_to "Not completed", :conditions => { :registration_complete => 0 }  %></li>
  <li><%= link_to "Dinner registrations", :conditions => { :includes_dinner => 1 }  %></li>
</ul>

<h3><%= @registrations.length %> brukere:</h3>

<table>
  <tr>
    <th>Bruker</th>
    <th>E-post</th>
    <th>Påmeldt</th>
    <th>Billett</th>
    <th>Status</th>
    <th>Betalt</th>
  </tr>
<% for registration in @registrations %>
  <tr>
    <td>
      <%=link_to registration.user.name, registration.user %>
      (<%=h registration.user.company %>)
    </td>
    <td>
      <%=link_to registration.user.email, "mailto:#{registration.user.email}" %>
    </td>
    <td><%=h time_ago_in_words(registration.created_at) %> siden</td>
    <td>
      <%= registration.ticket_type %>
    </td>
    <td>
      <%= registration.status %>
    </td>
    <td>
      <%= registration.paid_amount %>
    </td>
  </tr>
<% end %>
</table>

