<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="utf-8" />

  <title>
      <%= content_for?(:title) ? yield(:title) : "Kvittering" %>
    </title>
</head>
<body>
<p>

KJØPSINFORMASJON
<br/>

Navn: <%= @u.name %>

<% if false %>
  <br/>
  Adresse: <%= @u.address %>
<% end %>
<br/>
Firma: <%= @u.company %>
<br/>
Referansenr: <%= @r.invoice_id %>
<br/>
Betalingsform: Paypal
<br/>
Betalingsdato: <%= @r.payment_complete_at %>
<br/>
<br/>
Produktinformasjon: Konferansedeltakelse
<br/>
SMIDIGKONFERANSEN 14.-15.NOVEMBER
<br/>
Radisson BLU Plaza Hotel Oslo
<br/>

<br/>
Total Pris: <%= @r.price.to_i %>.00
<br/>
Mva: 25.00% Gr.lag: <%= @r.price_ex_mva.to_i %>.00 Mva kr: <%= @r.price_mva %>.00
<br/>
Smidigkonferansen (forening) Org nr. 993169919 MVA
</p>
</body>