<h1>Listing payment_notifications</h1>

<table>
  <tr>
  </tr>

<% @payment_notifications.each do |payment_notification| %>
  <tr>
    <td><%=h payment_notification.id %></td>
    <td><%=h payment_notification.params %></td>
    <td><%=h payment_notification.registration_id %></td>
    <td><%=h payment_notification.status %></td>
    <td><%=h payment_notification.transaction_id %></td>
    <td><%= link_to 'Show', payment_notification %></td>
    <td><%= link_to 'Edit', edit_payment_notification_path(payment_notification) %></td>
    <td><%= link_to 'Destroy', payment_notification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_notification', new_payment_notification_path %>