<h2>Page as of <%= time_ago_in_words(@content_revision.created_at) %> ago, by <%= @content_revision.author.name %></h2>

<h3><%=h @content_revision.title %></h3>

<%= @content_revision.body %>


<hr />

<%= link_to 'Back', content_content_revisions_path(@content_revision.content) %>
