<h1>New feedback_vote</h1>

<%= form_for(@feedback_vote) do |f| %>
  <%= render "shared/error_messages", :target => @feedback_vote %>

  <p>
    <%= f.label :talk_id %><br />
    <%= f.text_field :talk_id %>
  </p>
  <p>
    <%= f.label :vote %><br />
    <%= f.text_field :vote %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', feedback_votes_path %>
