<style>
  table {
  	vertical-align: top;
  }
  .votes .vote {
    text-align: right;
  }
  .votes .sum td {
    border-top: 1px solid silver;
    font-weight: bold;
  }
  .votes .total td {
  	border-bottom: 2px solid silver;
  }
  .votes .title {
    padding-top: 20px;
  }
  ul {
  	list-style: none;
  }
</style>

<%= link_to "Tilbake til foredrag",  @talk %><br />
<% if @talk.users.include?(current_user)|| admin? %>

<br />
<ul>
	<li>Min score: 1</li>
	<li>Max score: 6</li>
	<li>Konferansesnitt: <%= @total_avg %></li>
</ul>

<% sum=0.0; count=0.0; %>
<table class="votes" cellspacing="0" cellpadding: "0">
  <tr>
    <td colspan="2" class="title"><h2><%= @talk.try(:title) %></h2></td>
  </tr>
  <% @feedbacks.each do |vote|  %>
  <% sum += vote.vote;count +=1; %>
    <tr>
      <td><%=h vote.comment %></td>
      <td class="vote"><%=h vote.vote %></td>      
    </tr>
  <% end %>
  <tr class="sum">
    <td>Ditt snitt:</td>
    <td class="vote"><%=h sum/count %></td>      
  </tr>
  <tr class="sum total">
    <td>Snitt for konferansen:</td>
    <td class="vote"><%= @total_avg %></td>      
  </tr>
</table>
<% else %>
	Du har ikke tilgang!
<% end %>