<h2 class="page_title">Logg inn</h2>
<%= form_for @user_session, :url => { :action => 'create' } do |f| %>
	<div id="loginform" class="form">
		<div class="group">
			<%= f.label :email, "E-post" %>
			<%= f.text_field :email %>
		</div>
		<div class="group">
			<%= f.label :password, "Passord" %>
			<%= f.password_field :password %>
		</div>
		<%= f.submit "Logg inn", :class => 'button' %>
		<ul class="related-links">
			<li>
				<%= link_to "Har du glemt passordet ditt?", new_password_reset_path %>
			</li>
			<li>
				<%= link_to "Er du ikke påmeldt ennå?", new_user_path %>
			</li>
		</ul>
	</div>
<% end %>