<% form_for @user_session do |f| %>
  <div>
    <span><%= f.label :'e-post' %></span>
    <%= f.text_field :email %>
  </div>
  <div>
    <span><%= f.label :passord %></span>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "Logg inn" %>
<% end %>


