<% content_for :title, "Om arrangørene" %>

<h2 class="page_title">Hvem er vi?</h2>

<p>Smidig 2011 er arrangert av Smidig.no. Konferansen startet med noen fluktige tanker i hodene på noen, og har blitt gjort mulig av entusiaster som uoppfordret tilbød seg å gjennomføre alle de oppgavene som må til. Dersom du vil vite mer om konferansen eller bidra, kan du finne mer info på <a href="http://groups.google.com/group/smidig2011">vår interne mailingliste.</a></p>

<p>Har du spørsmål angående konferansen eller ønsker å komme i kontakt med arrangørene kan du sende en epost til <a href='mailto:kontakt@smidig.no'>kontakt@smidig.no</a>.</p>

<div id="arrangørene_list">

<h3>Følgende ildsjeler har bidratt til Smidig 2011</h3>

<%
users = Array.new
users << {:name=>'Christian Stensholt', :image=>'christian.stensholt.jpg', :company=>'Prosjektleder hos Bouvet ASA',:cite=>'Christian er opptatt av prosesser i IT-prosjekter og spesielt smidig'}
users << {:name=>'Ivar Conradi Østhus', :image=>'ivar.osthus.jpg', :company=>'Konsulent, Itera Consulting',:cite=>'Ivar søker etter smidige og elegante løsninger på komplekse problemer'}
users << {:name=>'Johannes Brodwall', :image=>'johannes.jpeg', :company=>'Chief scientist, Steria Norge',:cite=>'Johannes har jobbet med smidige metoder i 10 år. Han interesserer seg først og fremst for godt kode-håndverk, men bruker mer og mer av tiden sin på å spre felles forståelse (eller splid) i organisasjoner'}
users << {:name=>'Knut Johannes Dahle', :image=>'knutj.jpg', :company=>'Senior Konsulent hos Acando',:cite=>'Er opptatt av å levere mest mulig verdi raskest mulig.'}
users << {:name=>'Sarah Brodwall', :image=>'sarah.jpg', :company=>'Funkweb Services og Brodwall IT Services',:cite=>'Sarah interesserer seg for hvordan User Experience kan integreres i smidige prosjekter.'}
users << {:name=>'Ole Christian Rynning', :image=>'oc-bekk-bw.jpg', :company=>'Seniorutvikler hos BEKK',:cite=>'Vil at alle dager skal være effektive og verdiskapende.'}
users << {:name=>'Ole Morten Amundsen', :image=>'ole_morten.jpg', :company=>'Daglig leder Powest AS, OMA Consulting AS, Aliado ANS og rubyist',:cite=>'Software kan leveres raskt, robust, skalerbart og generere forretningsverdi på løpende bånd. Dette krever smidig utvikling og en dyp forståelse av hva smidig er.'}
users << {:name=>'Ruben Wangberg', :image=>'ruben.jpg', :company=>'Arkitekt hos Accenture',:cite=>'Ruben prøver alltid å effektivisere sitt arbeidsmiljø, litt fordi han vil være effektiv og litt fordi han er lat.'}
users << {:name=>'Anders Sveen', :image=>'anders.sveen.jpg', :company=>'Konsulent, Miles AS',:cite=>'Smidige prosesser er hverken anarki eller en lett utvei. Det krever disiplin, langsiktighet, motivasjon, kontroll og en dæsj tro for å holde ut.'}
users << {:name=>'Kristofer Walters', :image=>'kristofer.walters.png', :company=>'Senior Konsulent, Acando AS',:cite=>'Scrum, but... är en konspiration av post-it-lapp-industrin.'}
users << {:name=>'Ivar Nilsen', :image=>'ivar.nilsen.jpg', :company=>'Solution Architect, Steria Norge',:cite=>'A simple and working solution is always better than a complex yet working solution'}
users << {:name=>'Bodil Stokke', :image=>'bodil.jpg', :company=>'Programmerer, Steria Norge',:cite=>'Bodil synes fossefall viser naturen på sitt mest majestetiske, og skjønner ikke hva dere skal klage sånn på dem for.'}
users << {:name=>'Nils Christian Haugen', :image=>'nch_svh_100x100.jpg', :company=>'Partner, Scienta',:cite=>'Nils Christian nyter å hjelpe team levere software som gleder både brukere og sponsorer'}
users << {:name=>'Mats Angermo Ringstad', :image=>'matsringstad.jpg', :company=>'Consultant, Acando' }
users << {:name=>'Arne Løvold', :image=>'arne_sv.jpg', :company=>'Forretningsutvikler, Miles',:cite=>'Smidige teknikker kan benyttes i alle faser i alle typer prosjekter'}

%>

<br />
<% for user in users %>
<div class="person">
	<img class="image" src="/images/arrangorer/<%= user[:image] %>" alt="bilde" title="<%= user[:name] %>" />
	<div class="info">
		<div class="name"><%= user[:name] %></div>
		<div class="company">&gt;<%= user[:company] %></div>
		<div class="cite">"<%= user[:cite] %>"</div>
	</div>
</div>
<div style="clear:left"></div>
<% end %>
</div>
