<% content_for :title, "Smidig 2010 - 16. og 17. november - Radisson Blu" %>
<div id="fronthead">
    <h2 class="page_title">Norges største smidige konferanse</h2>
    <h3>16. - 17. november på Radisson Blu, Holberg plass, Oslo</h3>
</div>

<div class="chunk general row one">
    <p>Opplev vårt unike format, med over 70 lyntaler og 100 diskusjonsgrupper! Smidigkonferansen er det årlige nasjonale arrangementet som samler mennesker fra alle typer roller i IT-bransjen: prosjektledere, produkteiere, utviklere, bedriftsledere og testere, for å ta noen eksempler. <%= link_to 'Les mer om konferansen', :controller => 'info', :action => 'om_konferansen' %></p>
</div>


<div class="row two">
<div class="chunk signup">
<h2>Velkommen til konferansen</h2>
  <p>Dersom du har meldt deg på konferanse og lurer på hvordan du kommer frem: Ta offentlig kommunikasjon til trikkestoppet Holberg plass eller til Nationalteatret. Gå inn i hovedresepsjonen til Radisson BLU på Holberg plass og følg skiltingen fra hotellresepsjonen mot høyre for å komme til konferanseområdet. Vi sees på Smidig 2010!</p>
</div>


<div class="chunk lyntale">
        <h2><%= link_to "Programmet", :controller => 'program' %></h2>
    <p>Smidig 2010 har over 70 lyntaler med mange spennende temaer, open spaces, paneldebatt og mer. Her kan du se <%= link_to "programmet for Smidig 2010", :controller => 'program' %>.</p>
</div>
</div>
<div class="row three">
    <div class="chunk hvaskjer">
        <h2>Følg med</h2>
        <p>Følg @smidig på <%= link_to "twitter", twitter_url %>, og still spørsmål eller kom med forslag ved å melde deg inn i google gruppen/mailinglisten <%= link_to "smidigkonferansen", mailingliste_url %>.</p>
</div>

    <div class="chunk tidligere">
        <h2>Gamle godbiter</h2>
    <p>Se videoene fra <a href='http://smidig2007.confreaks.com'>2007</a>, <a href='http://smidig2008.confreaks.com'>2008</a> og <a href='http://tcs.java.no/'>2009</a> for en smakebit på hva du kan oppleve.</p>
    </div>
</div>