<div id="header">
  <h1><a href="index.html"><img src="images/smidig-horizontal.png" alt="Smidig 2010"/></a></h1>
  <div id="menu">
    <ul>
      <%= user_menu_item %>
      <%= info_menu_item 'hold lyntale', 'lyntale' %>
      <%= info_menu_item 'les mer', 'les_mer' %>
      <%= info_menu_item 'spre ordet', 'spre_ordet' %>
      <%= info_menu_item 'sponse', 'sponse' %>
    </ul>
  </div>


  <div id="login" style="right:0; top:0; display:inline;">
      <p>
        <%= link_to "logg inn", login_path unless current_user %>
        <%= link_to "logg ut", logout_path if current_user %>
    </p>
  </div>
</div>
