<div id="header">
  <div id="menu">
    <ul>
      <%= user_menu_item %>
      <%= talk_menu_item 'lyntaler' %>
      <%= info_menu_item 'les mer', 'om_konferansen' %>
      <%= info_menu_item 'spre ordet', 'spre_ordet' %>
      <%= info_menu_item 'sponse', 'sponsor' %>
      <%= login_menu_item %>
    </ul>
  </div>

  <h1>
	<%= link_to_unless_current image_tag('smidig-horizontal2.png', :alt => 'Smidig 2010'),
		:controller => 'info', :action => 'index' %><span>Smidig 2010</span>
  </h1>
</div>
