<nav>
  <ul>
	  <%= user_menu_item %>
	  <%= talk_menu_item 'program' %>
	  <%= info_menu_item 'les mer', 'om_konferansen' %>
	  <%= info_menu_item 'spre ordet', 'spre_ordet' %>
	  <%= info_menu_item 'sponse', 'sponsor' %>
	  <%= info_menu_item 'faq', 'faq' %>
  </ul>
</nav>
