<div id="logos">
  <div id="small_logos">
    <%= sponsor 'Acando', 'acando.gif', 'http://acando.no' %>
    <%= sponsor 'Accenture', 'accenture.png', 'http://accenture.no' %>
    <%= sponsor 'Agile42', 'agile42.png', 'http://www.agile42.no' %>
    <%= sponsor 'BEKK', 'bekk.gif', 'http://www.bekk.no' %>
    <%= sponsor 'Bouvet', 'bouvet.gif', 'http://www.bekk.no' %>
    <%= sponsor 'Itera', 'itera.png', 'http://www.iteraconsulting.no' %>
    <%= sponsor 'Kantega', 'kantega.png', 'http://www.kantega.no' %>
    <%= sponsor 'Skalar', 'skalar.png', 'http://www.skalar.no' %>
    <%= sponsor 'Statens pensjonskasse', 'spk.png', 'http://www.spk.no' %>
    <%= sponsor 'Steria', 'steria.gif', 'http://www.steria.no' %>
    <%= sponsor 'Nets', 'nets.gif', 'http://www.nets.no' %>
    <%= sponsor 'Miles', 'miles.gif', 'http://www.miles.no' %>
    <%= sponsor 'Zenior', 'zenior.gif', 'http://zenior.no' %>
    <%= sponsor 'Webstep', 'webstep.gif', 'http://webstep.no' %>
    <%= sponsor 'Computas', 'computas.gif', 'http://webstep.no' %>
    <%= sponsor 'Cisco', 'cisco.png', 'http://www.cisco.com/web/NO/solutions/tele_index.html' %>
  </div>
  <div id="biglogos">
    <%= sponsor 'Statens landbruksforvaltning', 'slf.png', 'http://www.slf.dep.no/' %>
  </div>
</div>
