<div id="logos">
    <%= link_to image_tag( 'logos/acando.gif'), 'http://acando.no' %>
    <%= link_to image_tag( 'logos/accenture.png'), 'http://accenture.no' %>
    <%= link_to image_tag( 'logos/agile42.png'), 'http://www.agile42.com' %>
    <%= link_to image_tag( 'logos/bekk.gif'), 'http://www.bekk.no' %>
    <%= link_to image_tag( 'logos/bouvet.gif'), 'http://www.bouvet.no' %>
    <%= link_to image_tag( 'logos/itera.png'), 'http://www.iteraconsulting.no' %>
    <%= link_to image_tag( 'logos/kantega.png'), 'http://www.kantega.no' %>
    <%= link_to image_tag( 'logos/skalar.png'), 'http://www.skalar.no' %>
    <%= link_to image_tag( 'logos/spk.png'), 'http://www.spk.no' %>
    <%= link_to image_tag( 'logos/steria.gif'), 'http://www.steria.no' %>
    <%= link_to image_tag( 'logos/slf.png'), 'http://www.slf.dep.no' %>
</div>