<div id="logos">
  <div id="small_logos">
    <%= sponsor 'Acando', 'acando.gif', 'http://acando.no' %>
    <%= sponsor 'Accenture', 'accenture.png', 'http://accenture.no' %>
    <%= sponsor 'Agile42', 'agile42.png', 'http://www.agile42.no' %>
    <%= sponsor 'BEKK', 'bekk.gif', 'http://www.bekk.no' %>
    <%= sponsor 'Bouvet', 'bouvet.gif', 'http://www.bouvet.no' %>
    <%= sponsor 'Itera', 'itera.png', 'http://www.iteraconsulting.no' %>
    <%= sponsor 'Kantega', 'kantega.png', 'http://www.kantega.no' %>
    <%= sponsor 'Skalar', 'skalar.png', 'http://www.skalar.no' %>
    <%= sponsor 'Statens pensjonskasse', 'spk.png', 'http://www.spk.no' %>
    <%= sponsor 'Steria', 'steria.gif', 'http://www.steria.no' %>
    <%= sponsor 'Nets', 'nets.gif', 'http://www.nets.no' %>
    <%= sponsor 'Miles', 'miles.gif', 'http://www.miles.no' %>
    <%= sponsor 'Zenior', 'zenior.gif', 'http://zenior.no' %>
    <%= sponsor 'Webstep', 'webstep.png', 'http://webstep.no' %>
    <%= sponsor 'Computas', 'computas.png', 'http://computas.no' %>
    <%= sponsor 'Cisco', 'cisco.png', 'http://www.cisco.com/web/NO/solutions/tele_index.html' %>
    <%= sponsor 'Iterate', 'iterate.png', 'http://iterate.no' %>
    <%= sponsor 'Finn', 'finn.png', 'http://finn.no' %>
    <%= sponsor 'Metier', 'ITPP.png', 'http://www.smidigeprosjekter.no' %>
    <%= sponsor 'Capgemini', 'capgemini.gif', 'http://www.no.capgemini.com/' %>
    <%= sponsor 'Logica', 'logica.gif', 'http://logica.no/' %>
    <%= sponsor 'Yahoo', 'yahoo.png', 'http://jobs.yahoo.no/' %>
    <%= sponsor 'Conduct', 'conduct.png', 'http://conduct.no/' %>
    <%= sponsor 'Skandiabanken', 'skandiabanken2.png', 'http://skandiabanken.no/' %>
    <%= sponsor 'Arktekk', 'arktekk.png', 'http://arktekk.no/' %>
    <%= sponsor 'Statkraft', 'statkraft.jpg', 'http://statkraft.no/' %>
  </div>
  <div id="biglogos">
    <%= sponsor 'Statens landbruksforvaltning', 'slf.png', 'http://www.slf.dep.no/' %>
  </div>
</div>
