<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">

<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title>Smidig 2009: <%= controller.controller_name.humanize %>: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'screen' %>
  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ielte6.css' %>
  <![endif]-->
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= auto_discovery_link_tag :rss, { :controller => 'talks', :format => :rss }, { :title => "All talks" } %>
  <%= auto_discovery_link_tag :rss, { :controller => 'talks', :topic_id => @topic, :format => :rss }, { :title => "Talks for #{@topic.title}" } if @topic %>
  <%= auto_discovery_link_tag :rss, { :controller => 'comments', :talk_id => @talk, :format => :rss }, { :title => "Comments for #{@talk.title}" } if @talk %>
</head>
<body>

<div id="header">
    <ul id="menu">
        <li class="lyntaler" title="Lyntaler"><%= link_to "Lyntaler", :controller => 'pages', :action => 'lyntaler' %></li>
        <li class="open_space" title="Open Space"><%= link_to "Open Space", :controller => 'pages', :action => 'openspace' %></li>
        <li class="arrangoerene" title="Arrangørene"><%= link_to "Arrangørene", :controller => 'pages', :action => 'arrangoerene' %></li>
        <li class="forum" title="Forum"><a href="http://forum.smidig.no">Forum</a></li>
        <li class="hjem" title="Hjem"><%= link_to "Hjem", :controller => 'pages', :action => 'index' %></li>
    </ul>
    <h1 title="Smidig 2009">Smidig 2009</h1>
    <h2>22. - 23. oktober - Oslo Konferansesenter</h2>
</div>

<div id="content">
  <% unfinished do %>
    <div id="user_nav">
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(:current) %> |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  <% end %>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: yellow"><%= flash[:warn] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield  %>

</div>



<!-- START Disclaimer/Tracking Stuff -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2694058-4");
pageTracker._trackPageview();
} catch(err) {}</script>

<div id="ielte6">
    <p>Visste du at du bruker en nettleser som ble utgitt før 2002?  Websider kommer til å se bedre ut og webutvilkere blir spart mye frustrasjon om du oppgraderer nettleseren din.  For det beste webopplevelse, anbefaler vi at du oppgraderer til <a href="http://google.com/chrome">Google Chrome</a> eller <a href="http://getfirefox.com">Mozilla Firefox</a>.  Dersom du får denne meldingen på en jobb-pc, bør du kontakte personen som er IT-ansvarlig hos dere for å få oppgraderte nettleseren din.</p>
</div>

<!-- END Disclaimer/Tracking Stuff -->

</body>
</html>
