<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>Smidig 2010</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!--[if lt IE 7]>
      <link rel="stylesheet" type="text/css" href="css/ltie7.css" />
  <![endif]-->
  <%= stylesheet_link_tag 'screen.css' %>

  <%= auto_discovery_link_tag :rss, {:controller => 'talks', :format => :rss}, {:title => "Alle lyntaler"} %>
  <%= auto_discovery_link_tag :rss, {:controller => 'talks', :topic_id => @topic, :format => :rss}, {:title => "Lyntaler for #{@topic.title}"} if @topic %>
  <%= auto_discovery_link_tag :rss, {:controller => 'comments', :talk_id => @talk, :format => :rss}, {:title => "Kommentarer for #{@talk.title}"} if @talk %>
</head>
<body
<%= current_page?(:controller => 'info', :action => 'index') ? 'id="hjem"' : '' %>
>

<%= render :partial => 'layouts/header' %>


<div id="main">
  <%= render :partial => 'layouts/sponsors' %>

  <div id="content">
    <div id="notifications">
      <p style="color: green"><%= flash[:notice] %></p>

      <p style="color: orange"><%= flash[:warn] %></p>

      <p style="color: red"><%= flash[:error] %></p>
    </div>
    <%= yield %>
  </div>
</div>
</div>

<div id="footer">
  <div>
    <span class="contact"><a href="kontaktoss.html">Kontakt oss.</a></span>
    <span class="license">All contents licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
      Commons Attribution-ShareAlike 3.0 Unported License</a>.</span>
  </div>
</div>


<!-- START Disclaimer/Tracking Stuff -->

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-2694058-4");
        pageTracker._trackPageview();
    } catch(err) {
    }</script>

<!-- END Disclaimer/Tracking Stuff -->
</body>
</html>
