<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">

<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title>Smidig 2009: <%= yield :title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'screen' %>
  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ielte6.css' %>
  <![endif]-->
  <%= stylesheet_link_tag 'style' %>
  <%= auto_discovery_link_tag :rss, { :controller => 'talks', :format => :rss }, { :title => "Alle lyntaler" } %>
  <%= auto_discovery_link_tag :rss, { :controller => 'talks', :topic_id => @topic, :format => :rss }, { :title => "Lyntaler for #{@topic.title}" } if @topic %>
  <%= auto_discovery_link_tag :rss, { :controller => 'comments', :talk_id => @talk, :format => :rss }, { :title => "Kommentarer for #{@talk.title}" } if @talk %>
</head>
<body
  <%= current_page?(:controller => 'pages', :action => 'index') ? 'id="hjem"' : '' %>
>

<div id="header">
    <ul id="user_nav">
      <% if current_user %>
        <li id="min_paamelding"><%= link_to "Min påmelding", current_users_path %></li>
        <% unfinished do %>
          <li id="logg_ut"><%= link_to "Logg ut", logout_path %></li>
        <% end %>
      <% else %>
        <li id="meld_meg_paa"><%= link_to "Meld meg på!", new_user_path %></li>
        <li id="logg_inn"><%= link_to "Logg inn", login_path %></li>
      <% end %>
    </ul>
    <ul id="menu">
        <%= menu_item "Program", 'program', :controller => 'topics', :action => 'index' %>
        <%= page_menu_item "Lyntaler", 'lyntaler' %>
        <%= page_menu_item "Open Space", 'openspace' %>
        <%= page_menu_item "Arrangørene", 'arrangoerene' %>
        <li id="forum_menu" class="menu_link" title="Forum"><a href="http://forum.smidig.no">Forum</a></li>
    </ul>
    <h1 id="site_title" title="Smidig 2009 hjem"><span><%= link_to_unless_current("Smidig 2009", { :controller => 'pages', :action => 'index' }) %></span></h1>
    <h2 class="page_title" id="page_<%= controller.action_name %>_title"><%= yield :title %></h2>
</div>


<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: yellow"><%= flash[:warn] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield  %>
</div>

<!-- START Disclaimer/Tracking Stuff -->

<div id="ielte6">
    <p>Visste du at du bruker en nettleser som ble utgitt før 2002?  Websider kommer til å se bedre ut og webutvilkere blir spart mye frustrasjon om du oppgraderer nettleseren din.  For det beste webopplevelse, anbefaler vi at du oppgraderer til <a href="http://google.com/chrome">Google Chrome</a> eller <a href="http://getfirefox.com">Mozilla Firefox</a>.  Dersom du får denne meldingen på en jobb-pc, bør du kontakte personen som er IT-ansvarlig hos dere for å få oppgraderte nettleseren din.</p>
</div>

<!-- END Disclaimer/Tracking Stuff -->
<div id="sponsors">
	<a href="http://www.agilealliance.org"><img src="/images/logos/agilealliance.jpg" alt="Agile Alliance"/></a>
	<a href="http://www.avenir.no"><img src="/images/logos/avenir.gif" alt="Avenir"/></a>
	<a href="http://www.bekk.no"><img src="/images/logos/bekk.gif" alt="Bekk"/></a>
	<a href="http://www.bouvet.no"><img src="/images/logos/bouvet.gif" alt="Bouvet"/></a>
	<a href="http://www.conax.no"><img src="/images/logos/conax.gif" alt="Conax"/></a>
	<a href="http://www.computas.no"><img src="/images/logos/computas.gif" alt="Computas"/></a>
	<a href="http://www.iterate.no"><img src="/images/logos/iterate.gif" alt="Iterate"/></a>
	<a href="http://www.kantega.no"><img src="/images/logos/kantega.gif" alt="Kantega"/></a
	<a href="http://www.sintef.no"><img src="/images/logos/sintef.gif" alt="Sintef"/></a>
	<a href="http://www.steria.no"><img src="/images/logos/steria.gif" alt="Steria"/></a>
	<a href="http://www.tandberg.no"><img src="/images/logos/tandberg.gif" alt="Tandberg"/></a>
	<a href="http://www.zenior.no"><img src="/images/logos/zenior.gif" alt="Zenior"/></a>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2694058-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
