<!DOCTYPE html>
<html lang="no">

  <head>
    <meta charset="utf-8" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "Smidig 2012: 05. - 06. november på Radisson SAS Plaza Hotel Oslo" %>
    </title>

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="<%= stylesheet_link_tag 'ie_1140' %>" type="text/css" media="screen" />
    <![endif]-->

    <%= stylesheet_link_tag '1140' %>
    <%= stylesheet_link_tag 'screen', :media => "screen,projection,tv" %>
    <%= stylesheet_link_tag 'fonts' %>
      
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'application' %>
    
    <%= auto_discovery_link_tag :rss, {:controller => 'talks', :format => :rss}, {:title => "Alle lyntaler"} %>
    <%= auto_discovery_link_tag :rss, {:controller => 'talks', :topic_id => @topic, :format => :rss}, {:title => "Lyntaler for #{@topic.title}"} if @topic %>
    <%= auto_discovery_link_tag :rss, {:controller => 'comments', :talk_id => @talk, :format => :rss}, {:title => "Kommentarer for #{@talk.title}"} if @talk %>
  </head>

  <body>

    <section>
      <header class="container" id="header">
        <div class="twelvecol last">
          <h1><%= link_to "Smidig 2012", root_url %></h1>
        </div>
      </header>

      <nav class="container" id="nav">
        <%#= render :partial => 'layouts/menu' %>
      </nav>

      <% unless flash.empty? %>
        <div class="container" id="notifications">
          <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:warn] %>
            <p class="warn"><%= flash[:warn] %></p>
          <% end %>
          <% if flash[:error] %>
            <p class="error"><%= flash[:error] %></p>
          <% end %>
        </div>
      <% end %>

      <section class="container" id="content">
        <div class="row">
          <article class="eightcol">
            <%= yield %>
          </article>
          <div class="aside fourcol last" id="aside">
            <% #= render :partial => 'layouts/sponsors' %>
          </div>
        </div>
      </section>

      <footer id="footer">
          <!--<div id="socialcluster"><a class="epost" href="mailto:kontakt@smidig.no">Send oss en epost.</a><a class="facebook" href="http://www.facebook.com/pages/Smidig-konferansen/102562453136427">Besøk oss på Facebook.</a><a class="twitter" href="http://twitter.com/#!/smidig">Følg oss på Twitter.</a><a class="linkedin" href="http://www.linkedin.com/groups?mostPopular=&amp;gid=963587">Besøk vår gruppe på LinkedIn.</a></div>-->
      </footer>

    </section>

    <%= render :partial => 'layouts/analytics' %>

  </body>
</html>
