<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "Smidig 2012: 05. - 06. november på Radisson SAS Plaza Hotel Oslo" %>
    </title>

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/stylesheets/ie_1140.css" type="text/css" media="screen" />
    <![endif]-->


    <%= stylesheet_link_tag '1140' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= stylesheet_link_tag 'tooltip' %>
    
    <%= javascript_include_tag 'css3-mediaqueries' %>
    <%= javascript_include_tag 'jquery-1.7.2.min' %>
    <%= javascript_include_tag 'jquery.simpletip-1.3.1.min' %>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.rating.pack' %>
    <%= javascript_include_tag 'feedback_vote.js' %>
    <%= stylesheet_link_tag 'jquery.rating' %>
  </head>

  <body>

  <div class="row main">
    <div class="twelvecol">
      <div class="content-wrapper">
        <p>Tilbake til <a href="http://smidig2012.no">Smidig2012.no</a></p>
        <header>
          <h1><%= link_to "PROGRAM", :controller => "program" %> - <%= link_to "WORKSHOPS", :controller => "program", :action => "workshop" %></h1>
          <p>Under konferansen kan du følge med på oppdateringer på <a href="http://twitter.com/smidig">@smidig</a></p>
        </header>
        <%= yield %>
      </div>
    </div>
  </div>
  
  <%= render :partial => 'layouts/analytics' %>

  <bottom>
    <script id="tmplVote" type="text/x-jquery-tmpl">
      <form class="feedback_vote" action="/feedback_votes">
        <div class="inputs">
          <input name="feedback_vote[talk_id]" type="hidden" value="${talk_id}">

          <input name="feedback_vote[vote]" type="radio" class="star" value="1" />
          <input name="feedback_vote[vote]" type="radio" class="star" value="2"/>
          <input name="feedback_vote[vote]" type="radio" class="star" value="3"/>
          <input name="feedback_vote[vote]" type="radio" class="star" value="4"/>
          <input name="feedback_vote[vote]" type="radio" class="star" value="5"/>
          <input name="feedback_vote[vote]" type="radio" class="star" value="6"/>

          <br /><br />
          
          <input name="commit" type="button" value="Lagre stemme" class="button">
        </div>
        <span class="ajaxloader" style="visibility:hidden;" />
      </form>
    </script>
    <!--<input name="feedback_vote[comment]" type="text" placeholder="Frivillig kommentar">-->
  </bottom>

  </body>
</html>
